@font-face {
    font-family: 'DTLArgoTOTLight';
    src: url('dtl-argo-tot-light.eot');
    src: url('dtl-argo-tot-light.eot') format('embedded-opentype'),
         url('dtl-argo-tot-light.woff') format('woff'),
         url('dtl-argo-tot-light.ttf') format('truetype'),
         url('dtl-argo-tot-light.svg#DTLArgoTOTLight') format('svg');
}
