.conteudo.contato
	.suporte-form
		width: auto
		padding-right: 0
		padding-left: 3px
		padding-top: 4px
		h2
			text-transform: uppercase
			font-weight: normal
			font-size: 22px
			font-family: $argo
			color: #8B504A
			margin-top: 0
			margin-bottom: 5px
		select
			width: 431px
			display: block
			background: #ECE2CA
			text-indent: 10px
			border: 1px #8B504A solid
			height: 30px
			line-height: 34px
			font-family: $calibri
			font-size: 14px
			color: #8B504A
			margin-bottom: 6px
	.inputs
		width: 270px
		float: left
		input
			width: 248px
			height: 30px
			line-height: 34px
			border: solid 1px #8B504A
			background: transparent
			margin-bottom: 6px
			padding: 0 10px
			font-family: $calibri
			font-size: 14px
			color: #8B504A
	.textarea
		width: 436px
		float: right
		textarea
			width: 409px
			padding: 10px
			background: transparent
			font-family: $calibri
			font-size: 14px
			height: 88px
			border: solid 1px #8B504A
	
	.submit-placeholder
		text-align: right
		padding-bottom: 15px
		input[type=submit]
			margin-right: 5px
			border: 0
			display: inline-block
			background: #8b504a url(../img/detalhe-triangulo.png) no-repeat 77px 0
			color: #fff
			text-decoration: none
			text-align: center
			font-family: $calibri
			font-size: 15px
			width: 90px
			height: 30px
			line-height: 30px
			-webkit-transition: all .3s ease-in
			-moz-transition: all .3s ease-in
			-ms-transition: all .3s ease-in
			-o-transition: all .3s ease-in
			transition: all .3s ease-in
			position: relative
			&:hover
				color: #ECE2CA			
			&:after
				content: ""
				display: block
				position: absolute
				top: 0
				right: 0
				width: 0px
				height: 0px
				border-style: solid
				border-width: 0 10px 10px 0
				border-color: transparent #ECE2CA transparent transparent

	.locais-wrapper
		margin-top: 20px
		padding-top: 24px
		width: 754px
		background: #FFF
		overflow: hidden
	.locais
		width: 805px

	.local
		width: 200px
		padding-right: 32px
		min-height: 342px
		margin-right: 32px
		float: left
		border-right: solid 2px #E6E6E6
		h2
			font-size: 18px
			font-weight: normal
			font-family: $calibribold
			color: #8C504B
			margin-top: 20px
			margin-bottom: 12px
		p
			font-size: 14px
		a.link-mapa
			font-size: 14px
			color: #666
			margin: 5px 0 15px 0
			font-weight: normal
			display: inline-block
			font-family: $calibribold
			text-decoration: underline
			-webkit-transition: all .3s ease-in
			-moz-transition: all .3s ease-in
			-ms-transition: all .3s ease-in
			-o-transition: all .3s ease-in
			transition: all .3s ease-in
			&:hover
				color: #8c504b
		.telefone1, .telefone2
			font-size: 14px
			color: #666
	.contato-email
		width: 100%
		height: 50px
		background: #E6E6E6
		text-align: center
		line-height: 50px
		margin-top: 30px
		img
			margin-right: 12px
		a
			text-decoration: none
			color: #8C504B
			font-size: 16px
			font-family: $calibribold
			&:hover
				color: #000

	.resumo.low
		padding-bottom: 15px
		min-height: 0
		margin-bottom: 20px
		p
			margin: 0

	.ativacao-form
		font-size: 0
		.coluna
			border: 0 !important
			width: 50% !important
			margin-bottom: 8px
			input
				border: 2px #BFBFBF solid
				width: 99%
				padding: 3px 0
				margin: 0
				height: 24px
				line-height: 24px
				text-indent: 10px
				font-family: $calibri
				font-size: 14px
			&.prim input
				width: 96%
		textarea.txtarea-ativacao
			display: block
			width: 97%
			padding: 1.2%
			margin-bottom: 8px
			border: 2px #BFBFBF solid
			resize: none
			overflow: auto
			font-family: $calibri
			font-size: 14px
			&.med
				height: 30px
			&.high
				height: 60px

		.submit-placeholder
			#link-submit
				float: right
				display: block
				background: url(../img/triangulo_branco_canto.png) #8C504B right top no-repeat
				color: #fff
				margin: 10px auto 0 auto
				text-decoration: none
				text-align: center
				font-family: $calibri
				font-size: 14px
				width: 90px
				height: 30px
				line-height: 30px
				-webkit-transition: all .3s ease-in
				-moz-transition: all .3s ease-in
				-ms-transition: all .3s ease-in
				-o-transition: all .3s ease-in
				transition: all .3s ease-in
				position: relative
				&:active, &:visited
					color: #fff
				&:hover
					background: url(../img/triangulo_branco_canto.png) #ECE2CA right top no-repeat
					color: #8C504B


.link-skype
	text-decoration: none
	min-height: 24px
	line-height: 24px
	color: #8c504b
	margin: 0 auto
	font-size: 14px
	font-family: "CalibriBold", sans-serif !important
	padding-left: 30px
	background: url('../img/skype-icon.png') left center no-repeat
	width: 100px
	text-align: center
	display: inline-block
	font-style: normal !important
	zoom: 1
	vertical-align: top 
	&:hover
		color: black