@include declare-font-face('DTLArgoTOTLight', 'dtl-argo-tot-light', 'normal');
@include declare-font-face('CalibriRegular', 'calibri', 'normal');
@include declare-font-face('CalibriBold', 'calibrib', 'normal');
@include declare-font-face('CalibriItalic', 'calibrii', 'normal');

$argo: 'Roboto', sans-serif;
$calibri: 'CalibriRegular', sans-serif;
$calibribold: 'CalibriBold', sans-serif;
$calibriitalic: 'CalibriItalic', sans-serif;