.home
    .triangulo-direita, .triangulo-conteudo, .direita
        display: none
    .cycle-slideshow
        width: 4632px
        height: 800px
        position: relative
        margin-top: -340px
    .cycle-slideshow.interna
        display: none
    .retangulo-branco
        display: none
.triangulo-home
    position: absolute
    top: 0
    width: 0px
    height: 0px
    border-style: solid
    border-width: 462px 462px 0 462px
    border-color: #4d4d4d transparent transparent transparent
    z-index: 999
    opacity: 0.8
    margin-left: 305px
.content-home
    position: absolute
    top: 0
    width: 886px
    height: 428px
    z-index: 1008
    margin-left: 305px
    h1
        color: #E6D7B8
        font-family: $argo
        font-size: 34px
        font-weight: normal
        text-transform: uppercase
        margin-top: 92px
        margin-left: 205px
        margin-bottom: 0
.atuacao-home
    margin-left: 359px
    margin-top: 48px
    position: relative
    span
        color: #FFF
        font-size: 14px
.atuacao-home-lista
    width: 290px
    margin: 0
    padding: 0
    //margin-top: 15px
    margin-top: 0
    list-style-type: none
    li
        float: left
        width: 110px
        margin-right: 35px
    a
        text-decoration: none
        color: #FFF
        font-family: $calibribold
        font-size: 13px
        display: inline-block
        line-height: 10px
        &:hover
            color: #D3BCA7
            border-bottom: solid 1px #D3BCA7
.home-atuacao-triangulo
    width: 202px
    height: 101px
    //position: relative
    //margin-left: 3px
    //margin-top: 11px
    position: absolute
    left: 3px
    top: 140px

.losango-home
    position: absolute
    width: 859px
    height: 600px
    top: 200px
    z-index: 998
    background: url(../img/home_area-branca.png)
    margin-left: -92px
.texto-home
    font-size: 14px
    width: 255px
    float: right
    margin-top: 150px
    margin-right: 100px
    p
        margin-top: 0
        line-height: 1.6em
.noticias-home
    margin-left: 306px
    h2
        text-transform: uppercase
        font-size: 24px
        font-weight: normal
        color: #4D4D4D
        margin-bottom: 0
    ul
        margin: 0
        padding: 0
        margin-left: -50px
        list-style: none
        li
            width: 288px
            height: 41px
            overflow: hidden
            background: url(../img/div-noticias.png) repeat-x 0 bottom
        a
            display: table-cell
            vertical-align: middle
            text-decoration: none
            color: inherit
            text-transform: uppercase
            width: 288px
            height: 47px
            font-size: 14px
            padding-top: 2px
            color: #666
            &:hover
                color: #8c504b
.home-ver-todas
    display: block
    font-size: 12px
    font-family: $calibribold
    color: #666
    text-decoration: none
    margin-left: -50px
    margin-top: 12px
    padding-left: 10px
    background: url(../img/home_ver-todas-noticias.png) no-repeat 0 center
    height: 12px
    &:hover
        color: #8c504b