/*Jquuery UI*/

.ui-accordion .ui-accordion-header
	display: block
	cursor: pointer
	position: relative
	margin-top: 5px
	margin-bottom: 0
	padding: 11px 0 4px 24px
	line-height: 1em
	background: #ECE2CA url(../img/areas-de-atuacao_mais.png) no-repeat 8px center
	font-size: 15px
	color: #4D4D4D
	&.ui-state-active
		color: #FFF
		background: #8C504B url(../img/areas-de-atuacao_menos.png) no-repeat 8px center

.ui-accordion .ui-accordion-icons
	padding-left: 24px

.ui-accordion .ui-accordion-noicons
	padding-left: .7em

.ui-accordion .ui-accordion-icons .ui-accordion-icons
	padding-left: 2.2em

.ui-accordion .ui-accordion-header .ui-accordion-header-icon
	position: absolute
	left: .5em
	top: 50%
	margin-top: -8px

.ui-accordion .ui-accordion-content
	padding-left: 22px
	border-top: 0
	overflow: auto
	b, strong
		color: #8C504B
	p
		font-size: 14px
	ul
		margin: 0
		padding: 0
.ui-accordion-content
	padding-bottom: 30px