.conteudo.midias
	.midia-tipo
		margin-top: 4px
		ul
			margin: 0
			padding: 0
			list-style-type: none
			li
				float: left
				height: 49px
			li, .button
				width: 376px
				text-align: center
			li + li
				margin-left: 1px
			.button
				display: block
				height: 44px
				text-decoration: none
				background: #3C3C3C
				color: #FFF
				text-align: center
				font-family: $calibribold
				line-height: 47px
			li.active
				.button
					background: #8C504B

	.triangulo-midia
		width: 0px
		height: 0px
		border-style: solid
		border-width: 5px 5px 0 5px
		border-color: #8C504B transparent transparent transparent
		margin: 0 auto

	.midias
		margin-top: 19px
		a, span
			display: block
			text-decoration: none
			color: #FFF
		.midia-link
			width: 180px
			height: 130px
			float: left
			overflow: hidden
			margin-right: 11px
			margin-bottom: 10px
			&:nth-child(4n)
				margin-right: 0
			img
				width: 180px
				height: 130px
			&:hover
				.overlay
					opacity: 1
		.overlay
			width: 180px
			height: 90px
			padding-top: 40px
			margin-top: -130px
			text-align: center
			position: relative
			background: rgba(140, 80, 75, 0.8) url(../img/detalhe-triangulo.png) no-repeat 159px 4px
			opacity: 0
		.video-icone, .foto-icone
			width: 23px
			height: 23px
			background: url(../img/audiovisual_hover-video.png) no-repeat
			margin: 0 auto
		.foto-icone
			background: url(../img/audiovisual_hover-foto.png) no-repeat
		.titulo
			margin: 0 auto
			margin-top: 8px
			width: 160px
			text-align: center
			font-size: 14px
			font-family: $calibribold

	.player
		margin-top: 20px
	.link-voltar
		margin-top: 10px
		margin-bottom: 0

	.midia-links
		margin-top: 10px

#box-imprensa
	margin-top: 5px
	.titulo
		text-align: center
		background: #ECE2CA
		color: #8C504B
		font-family: $calibribold
		font-size: 14px
		height: 35px
		line-height: 35px
		border-bottom: 1px #fff solid
	.coluna
		&.coluna-100
			width: 100%
		&.coluna-50
			width: 50%
		float: left
		height: 80px
		p
			padding: 15px 0
			margin: 0
			text-align: center
			background: #ECE2CA
			color: #65635D
			font-size: 14px
			&:first-child
				border-right: 1px #fff solid
			strong
				display: block
			a
				display: block
				color: #8C504B
				font-family: $calibriitalic
				-webkit-transition: all .3s ease-in
				-moz-transition: all .3s ease-in
				-ms-transition: all .3s ease-in
				-o-transition: all .3s ease-in
				transition: all .3s ease-in
				text-decoration: none
				&:active, &:visited
					color: #8C504B
				&:hover
					text-decoration: none
					color: #000