.conteudo.noticias
	.noticia-container
		display: block
		text-decoration: none
		min-height: 84px
		margin-bottom: 10px
		& > *
			min-height: 69px
			padding-top: 15px
			background: #ECE2CA
			color: #3C3C3C
		&.destaque
			& > *
				background: #8C504B
				color: #FFF
				p
					color: #FFF
			.noticia-lista-data
				background: #8C504B url(../img/noticias_detalhe-destaque.png) no-repeat 4px 4px
			&:hover
				.noticia-lista-data
					background: #3C3C3C url(../img/noticias_detalhe-destaque.png) no-repeat 4px 4px
	.noticias-lista .noticia-container
		&:hover
			& > *
				background: #3C3C3C
				color: #ECE2CA
				p
					color: #ECE2CA
			.noticia-lista-titulo
				background: #3C3C3C url(../img/detalhe-triangulo.png) no-repeat 635px 4px

	#box-imprensa
		margin-top: 5px
		.titulo
			text-align: center
			background: #ECE2CA
			color: #8C504B
			font-family: $calibribold
			font-size: 14px
			height: 35px
			line-height: 35px
			border-bottom: 1px #fff solid
		.coluna.coluna-50
			width: 50%
			float: left
			height: 80px
			p
				padding: 15px 0
				margin: 0
				text-align: center
				background: #ECE2CA
				color: #65635D
				font-size: 14px
				&:first-child
					border-right: 1px #fff solid
				strong
					display: block
				a
					display: block
					color: #8C504B
					font-family: $calibriitalic
					-webkit-transition: all .3s ease-in
					-moz-transition: all .3s ease-in
					-ms-transition: all .3s ease-in
					-o-transition: all .3s ease-in
					transition: all .3s ease-in
					text-decoration: none
					&:active, &:visited
						color: #8C504B
					&:hover
						text-decoration: none
						color: #000

	.noticia-lista-data
		width: 96px
		float: left
		margin-right: 1px
		text-align: center
		.dia
			font-size: 36px
			height: 34px
		.mes
			font-size: 14px
			height: 14px
			text-transform: uppercase
		.ano
			font-size: 10px

	.noticia-lista-titulo
		width: 620px
		padding-left: 16px
		padding-right: 20px
		float: right
		h1
			margin: 0
			font-size: 20px
			min-height: 20px
			line-height: 1.1em
			font-weight: normal
			font-family: $calibribold
	.noticia-lista-resumo
		margin-top: 4px
		p
			margin: 0
			margin-bottom: 12px
			font-size: 14px
			font-family: $calibriitalic

	&.detalhe
		.noticia-container
			margin-bottom: 0
		.noticia-lista-titulo
			background: #3C3C3C
			color: #FFF
			p
				color: #FFF
				line-height: 1.3em
		.noticia-imagem
			margin-bottom: 20px

	.noticia-descricao
		width: 714px
		padding: 20px
		padding-bottom: 60px
		background: #FFF
		overflow: hidden
		p
			margin-top: 0
			font-size: 14px

	.link-voltar
		width: 730px
		margin-bottom: 0
