/* SLIMBOX */

#lbOverlay {
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #ECE2CA;
	cursor: pointer;
}

#lbCenter, #lbBottomContainer {
	position: absolute;
	z-index: 9999;
	background-color: #fff;
}
#lbBottomContainer{
	background-color: transparent;
}
.lbLoading {
	background: #fff url(loading.gif) no-repeat center;
}

#lbImage {
	position: absolute;
	left: 0;
	top: 0;
	background-repeat: no-repeat;
}

#lbPrevLink, #lbNextLink {
	display: block;
	position: absolute;
	top: 0;
	width: 50%;
	outline: none;
}

#lbPrevLink {
	left: 0;
	margin-left:-23px;
	padding-right: 23px;
	background: url(../img/lightbox_seta-esq.png) no-repeat 0 center;
}



#lbNextLink {
	right: 0;
	margin-right:-23px;
	padding-left: 23px;
	background: url(../img/lightbox_seta-dir.png) no-repeat right center;
}



#lbBottom {
	font-family: $calibriitalic;
	font-size: 16px;
	color: #666;
	line-height: 1.4em;
	text-align: left;
	border-top-style: none;
}

#lbCloseLink {
	display: block;
	float: right;
	width: 66px;
	height: 22px;
	background: transparent url(closelabel.gif) no-repeat center;
	margin: 5px 0;
	outline: none;
}

#lbCaption, #lbNumber {
	margin-right: 71px;
}

#lbNumber{
	display: none;
}

.lbclose{
	background: url(../img/lightbox_fechar.png) no-repeat;
	width: 40px;
	height: 40px;
	margin-top: -44px;
	float: right;
	cursor: pointer;
}