/* ==========================================================================
   Soluções
   ========================================================================== */
.conteudo.solucoes.geral.produto.interna
    z-index: 1020
.conteudo.solucoes
    .solucoes-header-image
        width: 956px
        height: 173px
        background: url(../img/solucoes_header.jpg)

.conteudo.solucoes.geral
    .inner-content
        & > h2
            margin-bottom: 0

    .atuacao-resumo
        width: 740px
        padding-top: 14px
        padding-left: 14px
        background: #ECE2CA
        color: #4D4D4D
        margin-top: 0
        p
            margin-top: 0
            margin-bottom: 10px

    .atuacao-main
        width: 100%
        background: #FFF
        padding-top: 20px
        margin-top: 20px
        .atuacao-main-left
            float: left
            width: 450px
            padding-left: 22px
            ul
                list-style-image: url(../img/seta-dupla.png)
                li
                    font-size: 14px
                    color: #666
            p
                max-width: 100% !important
                font-size: 14px
                strong
                    font-weight: bold
            p + ul
                margin-top: -17px !important
                padding-top: 2px !important
                padding-top: 4px !important
            table
                max-width: 100% !important
                width: 100% !important
            img
                max-width: 100% !important
            & > h2
                font-weight: normal
                font-size: 14px
                font-family: $calibribold
                color: #8C504D
            .atuacao-accordion
                margin-bottom: 45px
                .especifica-descricao
                    & > ul
                        list-style-image: url(../img/seta-dupla.png)
                        padding-left: 13px
                        li
                            font-size: 14px
                            color: #666
                            ul
                                padding-left: 22px
                                list-style-image: url(../img/seta.png)

        .atuacao-main-right
            margin-right: 20px
            float: right
            .atuacao-outras
                h3
                    font-size: 14px
                    font-weight: normal
                    margin-top: 35px
                ul
                    margin: 0
                    padding: 0
                    list-style-type: none
                    li
                        a
                            display: block
                            width: 100%
                            height: 49px
                            background: #ECE2CA
                            margin-bottom: 3px
                            font-size: 12px
                            text-decoration: none
                            color: #4D4D4D
                            font-family: $calibribold
                            -webkit-transition: all .3s ease-in
                            -moz-transition: all .3s ease-in
                            -o-transition: all .3s ease-in
                            transition: all .3s ease-in
                            &:hover
                                background-color: #8c504b
                                color: #fff
                            .atuacao-outra-imagem
                                width: 77px
                                height: 49px
                                display: block
                                float: left
                            .image-wrapper
                                display: block
                                width: 77px
                                height: 49px
                                margin-top: -49px
                                position: relative
                                background: url(../img/detalhe-triangulo.png) no-repeat 67px top
                            .atuacao-titulo
                                display: block
                                float: left
                                margin-top: 20px
                                margin-left: 17px

.conteudo.solucoes.geral.produto
    .inner-content
        .title-wrapper
            width: 100%
            height: 49px
            background: #8C504B
            h2
                height: 49px
                line-height: 54px
                background: none
                padding-left: 14px
                color: #FFF
                font-size: 20px
                font-weight: normal
                font-family: $calibribold
                display: inline-block
                margin-top: 0
                float: left
                margin-bottom: 0
        .produto-areas
            margin: 0
            padding: 0
            float: left
            list-style-type: none
            margin-bottom: 20px
            li
                float: left
                a
                    display: block
                    width: 77px
                    height: 49px
                    img
                        position: relative
                        z-index: 3010
                    .triangulo
                        position: relative
                        z-index: 3011
                        float: right
                        margin-top: -49px
                        width: 0px
                        height: 0px
                        border-style: solid
                        border-width: 0 10px 10px 0
                        border-color: transparent #8c514b transparent transparent
        .atuacao-main
            margin-top: 0
            padding-top: 0
            .atuacao-main-left
                width: 390px
                padding-bottom: 30px
                p
                    margin-top: 0
                ul
                    padding: 0
                    padding-left: 21px
                    margin: 0
                    margin-left: 8px
                    padding: 10px
                    font-size: 14px
                    color: #666
                    list-style-image: url(../img/marcador.png)
                    li
                        line-height: 2em
            .atuacao-main-right
                width: 290px
                float: right
                .produto-arquivos
                    background: #ECE2CA
                    h3
                        font-size: 16px
                        font-weight: normal
                        font-family: $calibribold
                        color: #8C504B
                        background: #E6D7B8
                        line-height: 23px
                        padding: 14px 0 8px 15px
                        margin-bottom: 0
                    .produto-arquivo
                        display: block
                        width: 258px
                        padding: 15px 16px
                        font-size: 14px
                        color: #666
                        text-decoration: none
                        padding-top: 15px
                        -webkit-transition: all .3s ease-in
                        -moz-transition: all .3s ease-in
                        -o-transition: all .3s ease-in
                        transition: all .3s ease-in
                        min-height: 36px
                        &:hover
                            background-color: #e6d7b8
                        img
                            float: left
                    a + a
                        border-top: solid 1px #E2D4B9
                    img
                        margin-right: 7px

                .produto-features
                    margin-top: 10px
                    padding: 13px 0 16px 15px
                    background: #8C504B
                    img
                        margin-right: 1px
                        width: 48px

