.conteudo.suporte
	.resumo
		min-height: 170px
		.coluna.coluna-50
			width: 48%
			float: left
			&:first-child
				border-right: 1px #BEBEBE solid
			.texto-suporte
				text-align: center
				padding: 25px
				p
					margin: 0
					color: #4D4D4D
					font-size: 14px
					line-height: 150%
					font-family: $calibri
				a
					display: block
					background-color: #8C504B
					color: #fff
					margin: 10px auto 0 auto
					text-decoration: none
					text-align: center
					font-family: $calibri
					font-size: 14px
					width: 180px
					height: 30px
					line-height: 30px
					-webkit-transition: all .3s ease-in
					-moz-transition: all .3s ease-in
					-ms-transition: all .3s ease-in
					-o-transition: all .3s ease-in
					transition: all .3s ease-in
					position: relative
					&:active, &:visited
						color: #fff
					&:hover
						background-color: #ECE2CA
						color: #8C504B
					&:after
						content: ""
						display: block
						position: absolute
						top: 0
						right: 0
						width: 0px
						height: 0px
						border-style: solid
						border-width: 0 10px 10px 0
						border-color: transparent #ffffff transparent transparent
			.contato-suporte
				text-align: center
				padding: 25px
				p
					font-family: $calibri
					font-size: 14px
					margin: 0 0 10px 0
					a.skype-link,
					a.mail
						display: block
						color: #8C504B
						text-decoration: none
						-webkit-transition: all .3s ease-in
						-moz-transition: all .3s ease-in
						-ms-transition: all .3s ease-in
						-o-transition: all .3s ease-in
						transition: all .3s ease-in
						&:active, &:visited
							color: #8C504B
						&:hover
							text-decoration: none
							color: #000
					a.skype-link
						width: 110px
						margin: 10px auto
						padding-left: 23px
						height: 23px
						line-height: 28px
						background: url('../img/skype-arycom.png') left center no-repeat
