@import url(http://fonts.googleapis.com/css?family=Roboto);
@font-face{font-family:"CalibriRegular";src:url("../font/calibri.eot");src:url("../font/calibri.eot?#iefix") format("embedded-opentype"),url("../font/calibri.woff") format("woff"),url("../font/calibri.ttf") format("truetype"),url("../font/calibri.svg#CalibriRegular") format("svg");font-weight:"normal";font-style:normal;font-stretch:normal}@font-face{font-family:"CalibriBold";src:url("../font/calibrib.eot");src:url("../font/calibrib.eot?#iefix") format("embedded-opentype"),url("../font/calibrib.woff") format("woff"),url("../font/calibrib.ttf") format("truetype"),url("../font/calibrib.svg#CalibriBold") format("svg");font-weight:"normal";font-style:normal;font-stretch:normal}@font-face{font-family:"CalibriItalic";src:url("../font/calibrii.eot");src:url("../font/calibrii.eot?#iefix") format("embedded-opentype"),url("../font/calibrii.woff") format("woff"),url("../font/calibrii.ttf") format("truetype"),url("../font/calibrii.svg#CalibriItalic") format("svg");font-weight:"normal";font-style:normal;font-stretch:normal}.inline{display:inline-block;*display:inline;zoom:1;vertical-align:top}
.aviso{color:#9f6000;background-color:#feefb3;border:2px #9f6000 solid}
.sucesso{border:2px #c6d880 solid;background-color:#e6efc2;color:#264409}
.falha{border:2px #d8000c solid;color:#d8000c;background-color:#ffbaba}
.offscreen{display:block;text-indent:-999999999px}
.clear{clear:both}
.escondido{display:none}
@media only screen and (min-width:768px){.hide-full{display:none !important}}
@media only screen and (max-width:767px){.hide-mobile{display:none !important}}
html body{}html body .direita-wrapper,html body .triangulo-conteudo,html body .ativar,html body #ativar-link,html body #busca{display:none}
html body header{position:static}html body header .link-idioma{position:absolute;top:7px;right:10px;z-index:999999}html body header .link-idioma img{display:block}
html body .interna .nav-triangle-wrapper .nav-triangle{display:none}
html body .interna .nav-triangle-wrapper nav{display:block;width:100%;margin-top:200px}html body .interna .nav-triangle-wrapper nav ul{padding:0 25px;margin:0;list-style:none;display:block;background-color:#4d4d4d}html body .interna .nav-triangle-wrapper nav ul li{display:inline-block;*display:inline;zoom:1;vertical-align:top}html body .interna .nav-triangle-wrapper nav ul li a{display:block;text-decoration:none;padding:0 10px;text-align:center;background-color:#4d4d4d;height:45px;line-height:45px;color:#ece2c9;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body .interna .nav-triangle-wrapper nav ul li a:active,html body .interna .nav-triangle-wrapper nav ul li a:visited{color:#ece2c9}
html body .interna .nav-triangle-wrapper nav ul li a:hover{color:#fff}
html body .interna .nav-triangle-wrapper nav ul li.active a{color:#fff}
html body .interna .marca-triangle-wrapper{position:absolute;top:0;left:0;text-align:center;width:100%;height:200px;background:url('../img/topo-tablet.jpg') center top no-repeat;background-size:cover}html body .interna .marca-triangle-wrapper .marca-triangle{display:none}
html body .interna .marca-triangle-wrapper .marca{display:block;width:135px;height:105px;margin:0 auto;margin-top:20px;background:url(../img/marca.png);position:relative;z-index:1004}html body .interna .marca-triangle-wrapper .marca.marca-en{background:url(../img/marca-en.png)}
html body .interna .clearfix{display:none}
html body .cycle-slideshow.home{display:none}
html body .content-home{background:#ece2c9;padding:0 35px}html body .content-home h1{background:#894640;color:#ece2c9;margin:0;display:block;width:100%;margin-left:-35px;padding:15px 35px;line-height:120%;font-family:'Roboto',sans-serif;font-size:20px;font-weight:normal}
html body .content-home .atuacao-home{width:49%;padding:35px 0;display:inline-block;*display:inline;zoom:1;vertical-align:top;font-family:'CalibriRegular',sans-serif;font-size:14px;font-weight:normal;color:#4d4d4d;position:relative}html body .content-home .atuacao-home ul{list-style:none;margin:10px 0 0 0;padding:0}html body .content-home .atuacao-home ul li{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:49%;height:32px;line-height:32px;margin:0;padding:0}html body .content-home .atuacao-home ul li a{font-weight:bold;display:block;text-decoration:none;color:#4d4d4d;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body .content-home .atuacao-home ul li a:active,html body .content-home .atuacao-home ul li a:visited{color:#4d4d4d}
html body .content-home .atuacao-home ul li a:hover{color:#894640}
html body .content-home .atuacao-home .home-atuacao-triangulo img{display:none}
html body .content-home .atuacao-home:after{content:"";display:block;height:70%;width:0;position:absolute;top:20px;right:25px;border-right:1px #4d4d4d dotted}
html body .content-home .texto-home-tablets{width:49%;display:inline-block;*display:inline;zoom:1;vertical-align:top;font-family:'CalibriRegular',sans-serif;font-size:14px;font-weight:normal;color:#4d4d4d;padding:35px 0;background:#ece2c9}html body .content-home .texto-home-tablets p{margin:0}
html body .content-home .texto-home-tablets br{display:none}
html body .conteudo.empresa h1{background:#894640;text-align:center;color:#ece2c9;margin:0;padding:15px 0;line-height:120%;font-family:'Roboto',sans-serif;font-size:23px;font-weight:normal}
html body .conteudo.empresa .resumo{padding:35px;background:#ece2c9;color:#4d4d4d;font-family:'CalibriRegular',sans-serif;font-size:16px;font-weight:normal;line-height:130%}html body .conteudo.empresa .resumo p{margin:0}
html body .conteudo.empresa .resumo br{display:none}
html body .conteudo.empresa .texto{width:45%;display:inline-block;*display:inline;zoom:1;vertical-align:top;color:#4d4d4d;font-family:'CalibriRegular',sans-serif;font-size:16px;font-weight:normal;line-height:130%}html body .conteudo.empresa .texto p{padding:0 20px 0 35px;margin:0;display:block}html body .conteudo.empresa .texto p:first-child{padding-top:35px}
html body .conteudo.empresa .texto p:last-child{padding-bottom:35px}
html body .conteudo.empresa .texto br{display:none}
html body .conteudo.empresa .imagem{display:inline-block;*display:inline;zoom:1;vertical-align:top;max-width:48%;margin:35px 35px 35px 0}html body .conteudo.empresa .imagem img{max-width:100%}
html body .conteudo.empresa .colaboradores{position:relative}html body .conteudo.empresa .colaboradores:before{content:"";display:block;z-index:-1;position:absolute;top:0;left:0;width:30%;height:100%;background:#ece2c9}
html body .conteudo.empresa .colaboradores h1{background:#4d4d4d;color:#fff;padding-left:35px;text-align:left}
html body .conteudo.empresa .colaboradores .lista-colab-tablets{text-align:center;padding:20px 0;margin:0;display:inline-block;*display:inline;zoom:1;vertical-align:top;background:#ece2c9;width:30%}html body .conteudo.empresa .colaboradores .lista-colab-tablets .pad{padding:15px 0}html body .conteudo.empresa .colaboradores .lista-colab-tablets .pad a{display:block;text-decoration:none;text-align:center;color:#4d4d4d;margin:15px 0;font-family:'CalibriBold',sans-serif;font-size:16px;font-weight:bold;transition:all .3s ease-in;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body .conteudo.empresa .colaboradores .lista-colab-tablets .pad a:active,html body .conteudo.empresa .colaboradores .lista-colab-tablets .pad a:visited{color:#4d4d4d}
html body .conteudo.empresa .colaboradores .lista-colab-tablets .pad a:hover{color:#894640}
html body .conteudo.empresa .colaboradores .colaboradores-lista{width:69%;overflow:hidden;display:inline-block;*display:inline;zoom:1;vertical-align:top;background:#fff;position:relative;min-height:700px}html body .conteudo.empresa .colaboradores .colaboradores-lista .colaborador{position:absolute;opacity:0;top:0;right:0;transition:all .3s ease-in;padding:35px;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body .conteudo.empresa .colaboradores .colaboradores-lista .colaborador:target{opacity:1}
html body .conteudo.empresa .colaboradores .colaboradores-lista .colaborador .colaborador-foto{float:right;width:40%}html body .conteudo.empresa .colaboradores .colaboradores-lista .colaborador .colaborador-foto img{max-width:100%}
html body .conteudo.empresa .colaboradores .colaboradores-lista .colaborador .colaborador-nome{color:#894640;font-family:'CalibriBold',sans-serif;font-size:22px;font-weight:bold;margin:0 0 15px 0}
html body .conteudo.empresa .colaboradores .colaboradores-lista .colaborador .colaborador-cargo{display:none !important;color:#4d4d4d;font-family:'CalibriBold',sans-serif;font-size:15px;font-weight:bold;margin:0 0 15px 0}html body .conteudo.empresa .colaboradores .colaboradores-lista .colaborador .colaborador-cargo.mobile{display:block !important}
html body .conteudo.empresa .colaboradores .colaboradores-lista .colaborador .colaborador-link{display:none}
html body .conteudo.empresa .colaboradores .colaboradores-lista .colaborador .colaborador-descricao{color:#4d4d4d;font-family:'CalibriRegular',sans-serif;font-size:14px;font-weight:normal;line-height:130%}html body .conteudo.empresa .colaboradores .colaboradores-lista .colaborador .colaborador-descricao p{margin:10px 0;width:50%}
html body .conteudo.solucoes h1{background:#894640;text-align:center;color:#ece2c9;margin:0;padding:15px 0;line-height:120%;font-family:'Roboto',sans-serif;font-size:23px;font-weight:normal}
html body .conteudo.solucoes h2{overflow:hidden;background:#894640;text-align:left;text-indent:40px;color:#fff;margin:25px 0 8px 0;padding:10px 0;line-height:120%;position:relative;font-family:'Roboto',sans-serif;font-size:19px;font-weight:normal}html body .conteudo.solucoes h2.preto{background:#4d4d4d}
html body .conteudo.solucoes h2:before{content:"";display:block;position:absolute;top:3px;left:3px;width:0;height:0;border-right:15px transparent solid;border-top:15px #ece2c9 solid}
html body .conteudo.solucoes .imagem-produto-responsive{display:block;overflow:hidden;margin:25px 35px}html body .conteudo.solucoes .imagem-produto-responsive img{max-width:100%;display:block;margin:0 auto}
html body .conteudo.solucoes .atuacao-resumo p,html body .conteudo.solucoes .atuacao-main p{margin:4px 0;padding:4px 35px;color:#4d4d4d;font-family:'CalibriRegular',sans-serif;font-size:14px;font-weight:normal}
html body .conteudo.solucoes .atuacao-main h2{color:#894640;background:transparent;font-family:'Roboto',sans-serif;font-size:16px;font-weight:normal}html body .conteudo.solucoes .atuacao-main h2:before{display:none}
html body .conteudo.solucoes .atuacao-main .atuacao-main-left h3{display:block;background-color:#ece2c9;font-family:'CalibriBold',sans-serif;font-size:12px;font-weight:bold;color:#4d4d4d;padding-left:50px;min-height:25px;line-height:25px;text-decoration:none;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body .conteudo.solucoes .atuacao-main .atuacao-main-left h3 span:before{content:"+";color:#894640;margin-right:3px}
html body .conteudo.solucoes .atuacao-main .atuacao-main-left h3:hover{color:#894640}
html body .conteudo.solucoes .atuacao-main .atuacao-main-left ul{list-style-image:url(../img/marcador.png);margin:4px 0;padding:4px 35px}html body .conteudo.solucoes .atuacao-main .atuacao-main-left ul li{font-family:'CalibriRegular',sans-serif;font-size:14px;font-weight:normal;color:#4d4d4d}html body .conteudo.solucoes .atuacao-main .atuacao-main-left ul li a{-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in;font-weight:bold;color:#4d4d4d}html body .conteudo.solucoes .atuacao-main .atuacao-main-left ul li a:active,html body .conteudo.solucoes .atuacao-main .atuacao-main-left ul li a:visited{color:#4d4d4d}
html body .conteudo.solucoes .atuacao-main .atuacao-main-left ul li a:hover{color:#894640}
html body .conteudo.solucoes .atuacao-main .atuacao-main-left .especifica-descricao ul{list-style:none;margin:4px 0;padding:4px 35px}html body .conteudo.solucoes .atuacao-main .atuacao-main-left .especifica-descricao ul li{font-family:'CalibriRegular',sans-serif;font-size:14px;font-weight:normal;color:#4d4d4d}html body .conteudo.solucoes .atuacao-main .atuacao-main-left .especifica-descricao ul li a{-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in;font-weight:bold;color:#4d4d4d}html body .conteudo.solucoes .atuacao-main .atuacao-main-left .especifica-descricao ul li a:active,html body .conteudo.solucoes .atuacao-main .atuacao-main-left .especifica-descricao ul li a:visited{color:#4d4d4d}
html body .conteudo.solucoes .atuacao-main .atuacao-main-left .especifica-descricao ul li a:hover{color:#894640}
html body .conteudo.solucoes .atuacao-main .atuacao-main-left .especifica-descricao p{font-family:'CalibriRegular',sans-serif;font-size:14px;font-weight:normal;color:#4d4d4d;margin:4px 0;padding:4px 35px}
html body .conteudo.solucoes .atuacao-main .atuacao-main-right{display:none}
html body .conteudo.solucoes .atuacao-main .link-voltar{overflow:hidden;margin:30px 0;display:block;background:#e6e6e6;color:#894640;padding-left:35px;height:37px;line-height:37px;text-decoration:none;font-family:'CalibriRegular',sans-serif;font-size:15px;font-weight:normal}html body .conteudo.solucoes .atuacao-main .link-voltar:active,html body .conteudo.solucoes .atuacao-main .link-voltar:visited{color:#894640}
html body .conteudo.solucoes .atuacao-main .link-voltar:hover{color:#4d4d4d}
html body .conteudo.solucoes .produto-areas{list-style:none;padding:0 35px}html body .conteudo.solucoes .produto-areas:before{content:"Áreas de atuação:";color:#4d4d4d;font-family:'CalibriRegular',sans-serif;font-size:14px;font-weight:bold;display:block}
html body .conteudo.solucoes .produto-areas li{display:block;display:inline-block;*display:inline;zoom:1;vertical-align:top;width:49%}html body .conteudo.solucoes .produto-areas li a{-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in;font-family:'CalibriRegular',sans-serif;font-size:13px;font-weight:normal;color:#4d4d4d}html body .conteudo.solucoes .produto-areas li a:active,html body .conteudo.solucoes .produto-areas li a:visited{color:#4d4d4d}
html body .conteudo.solucoes .produto-areas li a:hover{color:#894640}
html body .conteudo.solucoes .produto-areas li a img,html body .conteudo.solucoes .produto-areas li a .triangulo{display:none}
html body .conteudo.solucoes .produto-areas li a:before{content:attr(title)}
html body .conteudo.solucoes .table-wrapper{display:none;overflow:hidden}
html body .conteudo.solucoes .lista-solucoes-responsive{padding-bottom:30px}html body .conteudo.solucoes .lista-solucoes-responsive h2{overflow:hidden;background:#894640;text-align:left;text-indent:40px;color:#fff;margin:25px 0 8px 0;padding:10px 0;line-height:120%;position:relative;font-family:'Roboto',sans-serif;font-size:19px;font-weight:normal}html body .conteudo.solucoes .lista-solucoes-responsive h2.preto{background:#4d4d4d}
html body .conteudo.solucoes .lista-solucoes-responsive h2:before{content:"";display:block;position:absolute;top:3px;left:3px;width:0;height:0;border-right:15px transparent solid;border-top:15px #ece2c9 solid}
html body .conteudo.solucoes .lista-solucoes-responsive ul{list-style:none;margin:0;padding:0}html body .conteudo.solucoes .lista-solucoes-responsive ul li{height:40px;margin-bottom:3px}html body .conteudo.solucoes .lista-solucoes-responsive ul li a{padding-left:40px;display:block;text-decoration:none;height:40px;line-height:40px;color:#4d4d4d;font-family:'CalibriRegular',sans-serif;font-size:16px;font-weight:normal;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body .conteudo.solucoes .lista-solucoes-responsive ul li a:active,html body .conteudo.solucoes .lista-solucoes-responsive ul li a:visited{color:#4d4d4d}
html body .conteudo.solucoes .lista-solucoes-responsive ul li a:hover{color:#894640}
html body .conteudo.solucoes .lista-solucoes-responsive ul li:nth-child(even){background:#f2e9d8}
html body .conteudo.solucoes .lista-solucoes-responsive ul li:nth-child(odd){background:#ece2c9}
html body .conteudo.parceiros h1{background:#894640;text-align:center;color:#ece2c9;margin:0;padding:15px 0;line-height:120%;font-family:'Roboto',sans-serif;font-size:23px;font-weight:normal}
html body .conteudo.parceiros .resumo{padding:25px 35px;background:#ece2c9;color:#4d4d4d;font-family:'CalibriItalic',sans-serif;font-size:15px;font-weight:normal}html body .conteudo.parceiros .resumo p{margin:0}
html body .conteudo.parceiros .imagem img.desktop{margin:20px auto 30px auto;display:block;max-width:97%}
html body .conteudo.parceiros .imagem img.mobile{display:none}
html body .conteudo.noticias h1.tit-secao{background:#894640;text-align:center;color:#ece2c9;margin:0;padding:15px 0;line-height:120%;font-family:'Roboto',sans-serif;font-size:23px;font-weight:normal}
html body .conteudo.noticias .link-voltar{overflow:hidden;margin:30px 0;display:block;background:#e6e6e6;color:#894640;padding-left:35px;height:37px;line-height:37px;text-decoration:none;font-family:'CalibriRegular',sans-serif;font-size:15px;font-weight:normal}html body .conteudo.noticias .link-voltar:active,html body .conteudo.noticias .link-voltar:visited{color:#894640}
html body .conteudo.noticias .link-voltar:hover{color:#4d4d4d}
html body .conteudo.noticias .noticias-lista{padding:20px 35px}html body .conteudo.noticias .noticias-lista a{display:block;margin-bottom:17px;text-decoration:none;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}
html body .conteudo.noticias .noticias-lista a:hover .noticia-lista-titulo h1,html body .conteudo.noticias .noticias-lista a:hover .noticia-lista-titulo p{color:#894640}
html body .conteudo.noticias .noticias-lista a .noticia-lista-data{height:25px !important;line-height:25px;background:#ece2c9;text-align:right;padding:0 35px;margin-bottom:2px;color:#894640;font-family:'CalibriBold',sans-serif;font-size:15px;font-weight:bold}html body .conteudo.noticias .noticias-lista a .noticia-lista-data .dia{display:inline-block;*display:inline;zoom:1;vertical-align:top;font-size:15px}
html body .conteudo.noticias .noticias-lista a .noticia-lista-data .mes{display:inline-block;*display:inline;zoom:1;vertical-align:top;font-size:13px}
html body .conteudo.noticias .noticias-lista a .noticia-lista-data .ano{display:inline-block;*display:inline;zoom:1;vertical-align:top;font-size:15px}
html body .conteudo.noticias .noticias-lista a .noticia-lista-titulo{height:auto !important;background:#ece2c9;padding:10px 35px 20px 35px;color:#4d4d4d}html body .conteudo.noticias .noticias-lista a .noticia-lista-titulo h1{font-family:'CalibriBold',sans-serif;font-size:15px;font-weight:bold;line-height:130%;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}
html body .conteudo.noticias .noticias-lista a .noticia-lista-titulo .noticia-lista-resumo{font-family:'CalibriItalic',sans-serif;font-size:14px;font-weight:normal;line-height:130%;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body .conteudo.noticias .noticias-lista a .noticia-lista-titulo .noticia-lista-resumo p{margin:0}
html body .conteudo.noticias .noticias-links .pagination{background:#e6e6e6;padding:15px;line-height:120%;margin-bottom:20px;overflow:hidden}html body .conteudo.noticias .noticias-links .pagination ul{margin:0;padding:0;list-style:none}html body .conteudo.noticias .noticias-links .pagination ul li{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:20%;text-align:center}html body .conteudo.noticias .noticias-links .pagination ul li:first-child,html body .conteudo.noticias .noticias-links .pagination ul li:last-child{display:none}
html body .conteudo.noticias .noticias-links .pagination ul li:nth-child(2) a{border-left:none}
html body .conteudo.noticias .noticias-links .pagination ul li a{border-left:1px #c4c4c4 solid;color:#4d4d4d;text-decoration:none;display:block;margin:0;padding:2px 0;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body .conteudo.noticias .noticias-links .pagination ul li a:active,html body .conteudo.noticias .noticias-links .pagination ul li a:visited{color:#4d4d4d}
html body .conteudo.noticias .noticias-links .pagination ul li a:hover{color:#894640}
html body .conteudo.noticias .noticias-links .pagination ul li.active a{color:#894640}
html body .conteudo.noticias #box-imprensa{margin-bottom:20px;margin-top:5px}html body .conteudo.noticias #box-imprensa .titulo{text-align:center;background:#ece2ca;color:#8c504b;font-family:'CalibriBold',sans-serif;font-size:14px;font-weight:bold;min-height:35px;line-height:35px;border-bottom:1px #fff solid}
html body .conteudo.noticias #box-imprensa .coluna{display:block;height:80px}html body .conteudo.noticias #box-imprensa .coluna.coluna-50{width:100%}
html body .conteudo.noticias #box-imprensa .coluna.coluna-100{width:100%}
html body .conteudo.noticias #box-imprensa .coluna p{padding:15px 0;margin:0;text-align:center;background:#ece2ca;color:#65635d;font-size:14px}html body .conteudo.noticias #box-imprensa .coluna p:first-child{border-top:1px #fff solid}
html body .conteudo.noticias #box-imprensa .coluna p strong{display:block}
html body .conteudo.noticias #box-imprensa .coluna p a{display:block;color:#8c504b;font-family:'CalibriItalic',sans-serif;font-size:14px;font-weight:normal;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-ms-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in;text-decoration:none}html body .conteudo.noticias #box-imprensa .coluna p a:active,html body .conteudo.noticias #box-imprensa .coluna p a:visited{color:#8c504b}
html body .conteudo.noticias #box-imprensa .coluna p a:hover{text-decoration:none;color:#000}
html body .conteudo.noticias .noticia-detalhe .noticia-lista-data{height:25px !important;line-height:25px;margin-top:20px;text-align:right;padding:0 35px;margin-bottom:2px;color:#894640;font-family:'CalibriBold',sans-serif;font-size:15px;font-weight:bold}html body .conteudo.noticias .noticia-detalhe .noticia-lista-data .dia{display:inline-block;*display:inline;zoom:1;vertical-align:top;font-size:15px}
html body .conteudo.noticias .noticia-detalhe .noticia-lista-data .mes{display:inline-block;*display:inline;zoom:1;vertical-align:top;font-size:13px}
html body .conteudo.noticias .noticia-detalhe .noticia-lista-data .ano{display:inline-block;*display:inline;zoom:1;vertical-align:top;font-size:15px}
html body .conteudo.noticias .noticia-detalhe .noticia-lista-titulo{height:auto !important;background:#ece2c9;padding:10px 35px 20px 35px;color:#4d4d4d}html body .conteudo.noticias .noticia-detalhe .noticia-lista-titulo h1{color:#894640;background:transparent;font-family:'Roboto',sans-serif;font-size:18px;font-weight:normal}html body .conteudo.noticias .noticia-detalhe .noticia-lista-titulo h1:before{display:none}
html body .conteudo.noticias .noticia-detalhe .noticia-lista-titulo .noticia-lista-resumo{font-family:'CalibriItalic',sans-serif;font-size:14px;font-weight:normal;line-height:130%;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body .conteudo.noticias .noticia-detalhe .noticia-lista-titulo .noticia-lista-resumo p{margin:0}
html body .conteudo.noticias .noticia-detalhe .noticia-descricao{font-family:'CalibriRegular',sans-serif;font-size:14px;font-weight:normal;color:#4d4d4d;padding:5px 35px}html body .conteudo.noticias .noticia-detalhe .noticia-descricao img{max-width:100%;display:block;margin:5px auto}
html body .conteudo.noticias .noticia-detalhe .noticia-descricao p{margin:5px 0}
html body .conteudo.noticias .noticia-detalhe .noticia-descricao a{font-family:'CalibriRegular',sans-serif;font-size:14px;font-weight:bold;color:#4d4d4d;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body .conteudo.noticias .noticia-detalhe .noticia-descricao a:active,html body .conteudo.noticias .noticia-detalhe .noticia-descricao a:visited{color:#4d4d4d}
html body .conteudo.noticias .noticia-detalhe .noticia-descricao a:hover{color:#894640}
html body .conteudo.noticias .noticia-detalhe .noticia-descricao ul{list-style:none;padding:0;margin:5px 0}
html body .conteudo.midias h1{background:#894640;text-align:center;color:#ece2c9;margin:0;padding:15px 0;line-height:120%;font-family:'Roboto',sans-serif;font-size:23px;font-weight:normal}
html body .conteudo.midias .resumo{padding:20px 35px;background:#ece2c9;color:#4d4d4d;line-height:120%;margin-bottom:10px}html body .conteudo.midias .resumo p{margin:0}
html body .conteudo.midias .midia-tipo{padding:0 35px}html body .conteudo.midias .midia-tipo ul{padding-left:50%;margin:0}html body .conteudo.midias .midia-tipo ul li{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:49%;padding:0;margin-bottom:3px;height:45px}html body .conteudo.midias .midia-tipo ul li a,html body .conteudo.midias .midia-tipo ul li .button{text-decoration:none;height:45px;line-height:45px;display:block;text-align:center;background-color:#4d4d4d;color:#fff;font-family:'CalibriBold',sans-serif;font-size:18px;font-weight:bold;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body .conteudo.midias .midia-tipo ul li a:active,html body .conteudo.midias .midia-tipo ul li .button:active,html body .conteudo.midias .midia-tipo ul li a:visited,html body .conteudo.midias .midia-tipo ul li .button:visited{color:#fff}
html body .conteudo.midias .midia-tipo ul li a:hover,html body .conteudo.midias .midia-tipo ul li .button:hover{background-color:#894640}
html body .conteudo.midias .midia-tipo ul li.active .button{background-color:#894640}
html body .conteudo.midias .pagination{background:#e6e6e6;padding:15px;line-height:120%;margin-bottom:20px;overflow:hidden}html body .conteudo.midias .pagination ul{margin:0;padding:0;list-style:none}html body .conteudo.midias .pagination ul li{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:20%;text-align:center}html body .conteudo.midias .pagination ul li:first-child,html body .conteudo.midias .pagination ul li:last-child{display:none}
html body .conteudo.midias .pagination ul li:nth-child(2) a{border-left:none}
html body .conteudo.midias .pagination ul li a{border-left:1px #c4c4c4 solid;color:#4d4d4d;text-decoration:none;display:block;margin:0;padding:2px 0;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body .conteudo.midias .pagination ul li a:active,html body .conteudo.midias .pagination ul li a:visited{color:#4d4d4d}
html body .conteudo.midias .pagination ul li a:hover{color:#894640}
html body .conteudo.midias .pagination ul li.active a{color:#894640}
html body .conteudo.midias .link-voltar{overflow:hidden;margin:30px 0;display:block;background:#e6e6e6;color:#894640;padding-left:35px;height:37px;line-height:37px;text-decoration:none;font-family:'CalibriRegular',sans-serif;font-size:15px;font-weight:normal}html body .conteudo.midias .link-voltar:active,html body .conteudo.midias .link-voltar:visited{color:#894640}
html body .conteudo.midias .link-voltar:hover{color:#4d4d4d}
html body .conteudo.midias #box-imprensa{margin-bottom:20px;margin-top:5px}html body .conteudo.midias #box-imprensa .titulo{text-align:center;background:#ece2ca;color:#8c504b;font-family:'CalibriBold',sans-serif;font-size:14px;font-weight:bold;min-height:35px;line-height:35px;border-bottom:1px #fff solid}
html body .conteudo.midias #box-imprensa .coluna{width:100%;display:block;height:80px}html body .conteudo.midias #box-imprensa .coluna.coluna-50{width:100%}
html body .conteudo.midias #box-imprensa .coluna.coluna-100{width:100%}
html body .conteudo.midias #box-imprensa .coluna p{padding:15px 0;margin:0;text-align:center;background:#ece2ca;color:#65635d;font-size:14px}html body .conteudo.midias #box-imprensa .coluna p:first-child{border-top:1px #fff solid}
html body .conteudo.midias #box-imprensa .coluna p strong{display:block}
html body .conteudo.midias #box-imprensa .coluna p a{display:block;color:#8c504b;font-family:'CalibriItalic',sans-serif;font-size:14px;font-weight:normal;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-ms-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in;text-decoration:none}html body .conteudo.midias #box-imprensa .coluna p a:active,html body .conteudo.midias #box-imprensa .coluna p a:visited{color:#8c504b}
html body .conteudo.midias #box-imprensa .coluna p a:hover{text-decoration:none;color:#000}
html body .conteudo.midias .midias{padding:20px 0}html body .conteudo.midias .midias a{width:32%;margin:10px 0;display:inline-block;*display:inline;zoom:1;vertical-align:top;text-align:center;text-decoration:none;color:#4d4d4d;font-family:'CalibriRegular',sans-serif;font-size:14px;font-weight:normal;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body .conteudo.midias .midias a img{display:block;margin:0 auto 2px auto}
html body .conteudo.midias .midias a:active,html body .conteudo.midias .midias a:visited{color:#4d4d4d}
html body .conteudo.midias .midias a:hover{color:#894640}
html body .conteudo.midias .player{position:relative;padding-bottom:56.25%;padding-top:35px;height:0;overflow:hidden}html body .conteudo.midias .player iframe{position:absolute;top:0;left:0;width:100%;height:100%}
html body .conteudo.suporte h1{background:#894640;text-align:center;color:#ece2c9;margin:0;padding:15px 0;line-height:120%;font-family:'Roboto',sans-serif;font-size:23px;font-weight:normal}
html body .conteudo.suporte .resumo{background:#ece2c9;color:#4d4d4d;padding:20px 35px;font-family:'CalibriRegular',sans-serif;font-size:17px;font-weight:normal}html body .conteudo.suporte .resumo.suportemin{min-height:670px}html body .conteudo.suporte .resumo.suportemin .coluna{min-height:200px;display:block;width:50%;margin:20px auto}
html body .conteudo.suporte .resumo p{text-align:center;margin:5px 0}
html body .conteudo.suporte .resumo a{display:block;margin:7px auto;padding:0 15px;background-color:#894640;color:#fff;height:34px;line-height:34px;text-decoration:none;text-align:center;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body .conteudo.suporte .resumo a.skype-link{display:none}
html body .conteudo.suporte .resumo a:active,html body .conteudo.suporte .resumo a:visited{color:#fff}
html body .conteudo.suporte .resumo a:hover{color:#ece2c9}
html body .conteudo.suporte .resumo .coluna:nth-child(2){margin-top:25px}
html body .conteudo.contato h1{background:#894640;text-align:center;color:#ece2c9;margin:0;padding:15px 0;line-height:120%;font-family:'Roboto',sans-serif;font-size:23px;font-weight:normal}
html body .conteudo.contato .suporte-form{background:#ece2c9;padding:20px 35px;margin-top:30px}html body .conteudo.contato .suporte-form h2{color:#894640;font-family:'Roboto',sans-serif;font-size:18px;font-weight:normal;margin:0 0 15px 0}
html body .conteudo.contato .suporte-form form input[type="text"]{width:100%;display:block;background:#ece2c9;border:1px #4d4d4d solid;height:25px;line-height:25px;color:#4d4d4d;padding:0;text-indent:15px;margin-bottom:5px;font-family:'CalibriRegular',sans-serif;font-size:14px;font-weight:normal}html body .conteudo.contato .suporte-form form input[type="text"]::-webkit-input-placeholder{color:#4d4d4d}
html body .conteudo.contato .suporte-form form input[type="text"]:-moz-placeholder{color:#4d4d4d}
html body .conteudo.contato .suporte-form form input[type="text"]::-moz-placeholder{color:#4d4d4d}
html body .conteudo.contato .suporte-form form input[type="text"]:-ms-input-placeholder{color:#4d4d4d}
html body .conteudo.contato .suporte-form form select{width:100%;display:block;background:#ece2c9;border:1px #4d4d4d solid;margin-bottom:5px;text-indent:10px;height:25px;line-height:25px;font-family:'CalibriRegular',sans-serif;font-size:14px;font-weight:normal;color:#4d4d4d;line-height:25px}
html body .conteudo.contato .suporte-form form textarea{width:100%;display:block;background:#ece2c9;border:1px #4d4d4d solid;color:#4d4d4d;padding:3px 0;text-indent:15px;margin-bottom:5px;overflow:auto;resize:none;height:80px;line-height:120%;font-family:'CalibriRegular',sans-serif;font-size:14px;font-weight:normal}html body .conteudo.contato .suporte-form form textarea::-webkit-input-placeholder{color:#4d4d4d}
html body .conteudo.contato .suporte-form form textarea:-moz-placeholder{color:#4d4d4d}
html body .conteudo.contato .suporte-form form textarea::-moz-placeholder{color:#4d4d4d}
html body .conteudo.contato .suporte-form form textarea:-ms-input-placeholder{color:#4d4d4d}
html body .conteudo.contato .suporte-form form .submit-placeholder{text-align:right;padding-bottom:15px}html body .conteudo.contato .suporte-form form .submit-placeholder input[type=submit]{border:0;display:inline-block;background:#8b504a url(../img/detalhe-triangulo.png) no-repeat 77px 0;color:#fff;text-decoration:none;text-align:center;font-family:$calibri;font-size:15px;width:90px;height:30px;line-height:30px;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-ms-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in;position:relative}html body .conteudo.contato .suporte-form form .submit-placeholder input[type=submit]:hover{color:#ece2ca}
html body .conteudo.contato .suporte-form form .submit-placeholder input[type=submit]:after{content:"";display:block;position:absolute;top:0;right:0;width:0;height:0;border-style:solid;border-width:0 10px 10px 0;border-color:transparent #ece2ca transparent transparent}
html body .conteudo.contato .locais{padding:30px 35px}html body .conteudo.contato .locais .local{padding-bottom:18px;margin-bottom:30px;border-bottom:1px #4d4d4d dotted}html body .conteudo.contato .locais .local .local-imagem{display:none}
html body .conteudo.contato .locais .local h2{color:#894640;font-family:'CalibriBold',sans-serif;font-size:17px;font-weight:bold;margin:0 0 20px 0}
html body .conteudo.contato .locais .local a.link-mapa{display:inline-block;*display:inline;zoom:1;vertical-align:top;color:#4d4d4d;margin:0 0 20px 0;font-family:'CalibriBold',sans-serif;font-size:14px;font-weight:bold;text-decoration:underline;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body .conteudo.contato .locais .local a.link-mapa:hover{color:#894640}
html body .conteudo.contato .locais .local p{margin:0;font-family:'CalibriRegular',sans-serif;font-size:14px;font-weight:normal;color:#4d4d4d}
html body .conteudo.contato .locais .local .telefone1,html body .conteudo.contato .locais .local .telefone2{font-family:'CalibriRegular',sans-serif;font-size:14px;font-weight:normal;color:#4d4d4d}html body .conteudo.contato .locais .local .telefone1 b,html body .conteudo.contato .locais .local .telefone2 b{font-family:'CalibriBold',sans-serif;font-size:14px;font-weight:bold;color:#894640}
html body .conteudo.contato .contato-email{width:100%;height:50px;background:#e6e6e6;text-align:center;line-height:50px;margin-top:30px}html body .conteudo.contato .contato-email img{margin-right:12px}
html body .conteudo.contato .contato-email a{text-decoration:none;color:#8c504b;font-family:'CalibriBold',sans-serif;font-size:16px;font-weight:bold}html body .conteudo.contato .contato-email a:hover{color:#000}
html body .conteudo.contato #box-imprensa{margin-bottom:20px;margin-top:5px}html body .conteudo.contato #box-imprensa .titulo{text-align:center;background:#ece2ca;color:#8c504b;font-family:'CalibriBold',sans-serif;font-size:14px;font-weight:bold;min-height:35px;line-height:35px;border-bottom:1px #fff solid}
html body .conteudo.contato #box-imprensa .coluna{width:100%;display:block;height:80px}html body .conteudo.contato #box-imprensa .coluna.coluna-50{width:100%}
html body .conteudo.contato #box-imprensa .coluna.coluna-100{width:100%}
html body .conteudo.contato #box-imprensa .coluna p{padding:15px 0;margin:0;text-align:center;background:#ece2ca;color:#65635d;font-size:14px}html body .conteudo.contato #box-imprensa .coluna p:first-child{border-top:1px #fff solid}
html body .conteudo.contato #box-imprensa .coluna p strong{display:block}
html body .conteudo.contato #box-imprensa .coluna p a{display:block;color:#8c504b;font-family:'CalibriItalic',sans-serif;font-size:14px;font-weight:normal;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-ms-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in;text-decoration:none}html body .conteudo.contato #box-imprensa .coluna p a:active,html body .conteudo.contato #box-imprensa .coluna p a:visited{color:#8c504b}
html body .conteudo.contato #box-imprensa .coluna p a:hover{text-decoration:none;color:#000}
html body .conteudo.form-ativacao .resumo{background:#ece2c9;color:#4d4d4d;padding:20px 35px;font-family:'CalibriRegular',sans-serif;font-size:14px;font-weight:normal}html body .conteudo.form-ativacao .resumo p{text-align:center;margin:5px 0}
html body .conteudo.form-ativacao .resumo a{display:block;margin:7px auto;padding:0 15px;background-color:#894640;color:#fff;height:34px;line-height:34px;text-decoration:none;text-align:center;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body .conteudo.form-ativacao .resumo a:active,html body .conteudo.form-ativacao .resumo a:visited{color:#fff}
html body .conteudo.form-ativacao .resumo a:hover{color:#ece2c9}
html body .conteudo.form-ativacao .resumo.branco{padding-top:0}
html body .conteudo.form-ativacao .ativacao-form{padding-top:0;background:#ece2c9}html body .conteudo.form-ativacao .ativacao-form .coluna{margin-top:0 !important}
html body .conteudo.form-ativacao .ativacao-form h2{color:#894640;font-family:'Roboto',sans-serif;font-size:18px;font-weight:normal}
html body .conteudo.form-ativacao .ativacao-form form input[type="email"],html body .conteudo.form-ativacao .ativacao-form form input[type="text"]{width:100%;display:block;background:#ece2c9;border:1px #4d4d4d solid;height:25px;line-height:25px;color:#4d4d4d;padding:0;text-indent:15px;margin-bottom:5px;font-family:'CalibriRegular',sans-serif;font-size:14px;font-weight:normal}html body .conteudo.form-ativacao .ativacao-form form input[type="email"]::-webkit-input-placeholder,html body .conteudo.form-ativacao .ativacao-form form input[type="text"]::-webkit-input-placeholder{color:#4d4d4d}
html body .conteudo.form-ativacao .ativacao-form form input[type="email"]:-moz-placeholder,html body .conteudo.form-ativacao .ativacao-form form input[type="text"]:-moz-placeholder{color:#4d4d4d}
html body .conteudo.form-ativacao .ativacao-form form input[type="email"]::-moz-placeholder,html body .conteudo.form-ativacao .ativacao-form form input[type="text"]::-moz-placeholder{color:#4d4d4d}
html body .conteudo.form-ativacao .ativacao-form form input[type="email"]:-ms-input-placeholder,html body .conteudo.form-ativacao .ativacao-form form input[type="text"]:-ms-input-placeholder{color:#4d4d4d}
html body .conteudo.form-ativacao .ativacao-form form select{width:100%;display:block;background:#ece2c9;border:1px #4d4d4d solid;margin-bottom:5px;text-indent:10px;height:25px;line-height:25px;font-family:'CalibriRegular',sans-serif;font-size:14px;font-weight:normal;color:#4d4d4d;line-height:25px}
html body .conteudo.form-ativacao .ativacao-form form textarea{width:100%;display:block;background:#ece2c9;border:1px #4d4d4d solid;color:#4d4d4d;padding:3px 0;text-indent:15px;margin-bottom:5px;overflow:auto;resize:none;height:80px;line-height:120%;font-family:'CalibriRegular',sans-serif;font-size:14px;font-weight:normal}html body .conteudo.form-ativacao .ativacao-form form textarea::-webkit-input-placeholder{color:#4d4d4d}
html body .conteudo.form-ativacao .ativacao-form form textarea:-moz-placeholder{color:#4d4d4d}
html body .conteudo.form-ativacao .ativacao-form form textarea::-moz-placeholder{color:#4d4d4d}
html body .conteudo.form-ativacao .ativacao-form form textarea:-ms-input-placeholder{color:#4d4d4d}
html body .conteudo.form-ativacao .ativacao-form form .submit-placeholder{text-align:right;padding-bottom:15px}html body .conteudo.form-ativacao .ativacao-form form .submit-placeholder input[type=submit]{border:0;display:inline-block;background:#8b504a url(../img/detalhe-triangulo.png) no-repeat 77px 0;color:#fff;text-decoration:none;text-align:center;font-family:$calibri;font-size:15px;width:90px;height:30px;line-height:30px;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-ms-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in;position:relative}html body .conteudo.form-ativacao .ativacao-form form .submit-placeholder input[type=submit]:hover{color:#ece2ca}
html body .conteudo.form-ativacao .ativacao-form form .submit-placeholder input[type=submit]:after{content:"";display:block;position:absolute;top:0;right:0;width:0;height:0;border-style:solid;border-width:0 10px 10px 0;border-color:transparent #ece2ca transparent transparent}
html body .losango-home .texto-home{display:none}
html body .losango-home .noticias-home{width:100%;background-color:#fff;padding:0 0 20px 0}html body .losango-home .noticias-home h2{background:#4d4d4d;text-align:center;color:#fff;margin:0;padding:15px 0;line-height:120%;font-family:'Roboto',sans-serif;font-size:20px;font-weight:normal}
html body .losango-home .noticias-home ul{margin:0;list-style:none;padding:30px 35px 20px 35px}html body .losango-home .noticias-home ul li{display:block;border-bottom:1px #4d4d4d dotted}html body .losango-home .noticias-home ul li a{display:block;text-decoration:none;padding:0 0 17px 0;line-height:120%;color:#4d4d4d;margin-top:20px;font-family:'Roboto',sans-serif;font-size:16px;font-weight:normal;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body .losango-home .noticias-home ul li a:active,html body .losango-home .noticias-home ul li a:visited{color:#4d4d4d}
html body .losango-home .noticias-home ul li a:hover{color:#894640}
html body .losango-home .noticias-home ul li:last-child{margin-top:0}
html body .losango-home .noticias-home ul li:nth-child(n+5){display:none}
html body .losango-home .noticias-home .home-ver-todas{color:#4d4d4d;text-decoration:none;display:block;text-align:right;margin:0 35px 0 0;font-family:'CalibriBold',sans-serif;font-size:14px;font-weight:bold;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body .losango-home .noticias-home .home-ver-todas:before{content:"‣";margin-right:4px}
html body .losango-home .noticias-home .home-ver-todas:active,html body .losango-home .noticias-home .home-ver-todas:visited{color:#4d4d4d}
html body .losango-home .noticias-home .home-ver-todas:hover{color:#894640}
html body #ativar-responsive{display:block;background:#894640;text-align:center;color:#fff;margin:0;text-decoration:none;padding:15px 0;line-height:120%;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in;font-family:'Roboto',sans-serif;font-size:17px;font-weight:normal}html body #ativar-responsive br{display:none}
html body #ativar-responsive:active,html body #ativar-responsive:visited{color:#fff}
html body #ativar-responsive:hover{color:#ece2c9}
html body footer{display:none}
#lbOverlay{position:fixed;z-index:9999;left:0;top:0;width:100%;height:100%;background-color:#ece2ca;cursor:pointer}
#lbCenter,#lbBottomContainer{position:absolute;z-index:9999;background-color:#fff}
#lbBottomContainer{background-color:transparent}
.lbLoading{background:#fff url(loading.gif) no-repeat center}
#lbImage{position:absolute;left:0;top:0;background-repeat:no-repeat}
#lbPrevLink,#lbNextLink{display:block;position:absolute;top:0;width:50%;outline:none}
#lbPrevLink{left:0;margin-left:-23px;padding-right:23px;background:url(../img/lightbox_seta-esq.png) no-repeat 0 center}
#lbNextLink{right:0;margin-right:-23px;padding-left:23px;background:url(../img/lightbox_seta-dir.png) no-repeat right center}
#lbBottom{font-family:"CalibriItalic",sans-serif;font-size:16px;color:#666;line-height:1.4em;text-align:left;border-top-style:none}
#lbCloseLink{display:block;float:right;width:66px;height:22px;background:transparent url(closelabel.gif) no-repeat center;margin:5px 0;outline:none}
#lbCaption,#lbNumber{margin-right:71px}
#lbNumber{display:none}
.lbclose{background:url(../img/lightbox_fechar.png) no-repeat;width:40px;height:40px;margin-top:-44px;float:right;cursor:pointer}
