@import "_mixings";
@import "_fonts";
@import "_jqueryui";
@import "_home";
@import "_solucoes";
@import "_parceiros";
@import "_noticias";
@import "_midias";
@import "_slimbox";
@import "_suporte";
@import "_contato";

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

#ativar-responsive,
.colaborador-link,
.lista-solucoes-responsive,
.texto-home-tablets,
.texto-tablets,
.lista-colab-tablets,
.imagem-produto-responsive{
    display: none;
}


body {
    font-size: 1em;
    line-height: 1.4;
    overflow-x:hidden;
    background: #FFF;
    //min-height: 1074px;
    p{
        color:#666;
    }
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

    .pagination{
        width: 100%;
        height: 36px;
        line-height: 46px;
        background: #E6E6E6;
        text-align: center;
        ul{
            display: inline-block;
            margin: 0;
            padding: 0;
            list-style-type: none;
            li{
                float: left;
                height: 14px;
                width: 20px;
                line-height: 23px;
                text-align: center;
                a, span{
                    text-decoration: none;
                    font-size: 16px;
                    color: #666;
                }
                &.disabled{
                    display: none;
                }
                &.active span, &:hover a{
                    font-family: $calibribold;
                }
            }
            li + li{
                border-left: solid 1px #C4C4C4;
            }
        }
    }
.link-voltar{
    display: block;
    padding-left: 24px;
    width: 729px;
    height: 34px;
    line-height: 40px;
    text-decoration: none;
    color: #8C504B;
    margin-top:30px;
    margin-bottom: 64px;
    background: #E6E6E6;
    -webkit-transition:all .3s ease-in;
    -moz-transition:all .3s ease-in;
    -o-transition:all .3s ease-in;
    transition:all .3s ease-in;
    &:hover{
        background-color:#8C504B;
        color:#fff;
    }
}

.inner-content{
    width:754px;
    float:right;
    .resumo{
        padding: 15px;
        padding-bottom: 0;
        background: #ECE2CA;
        & > p{
            margin-top: 0;
        }
        p{
            font-family: $calibriitalic;
            margin-bottom: 12px;
        }
        &.branco{
            background:#FFF;
        }
    }
}

body{font-family: $calibri;}

.triangulo-direita{
    width: 1200px;
    height: 1200px;
    background: url(../img/triangulo_cinza.png);
    position:absolute;
    left:357px;
    z-index:1000;
}

.direita{
    position:absolute;
    height:1200px;
    width:4000px;
    background: #4d4d4d;
    left:1556px;
    z-index:1000;
}

.triangulo-conteudo{
    width: 874px;
    height: 437px;
    background: url(../img/triangulo_branco.png);
    position:absolute;
    margin-top:80px;
    z-index:1007;
}



.interna{
    width:956px;
    margin-left:24px;
    &.conteudo{
        width: 754px;
        margin-left: 225px;
    }
    &.conteudo.solucoes{
        width:956px;
        margin-left:24px;
    }
}

.conteudo{
    position:relative;
    z-index: 1010;
    padding-bottom:50px;
    margin-top: -187px;
    .inner-content > h1, & > h1{
        font-weight: normal;
        text-transform: uppercase;
        float: right;
        width: 100%;
        text-align: right;
        font-size: 36px;
        font-family: $argo;
        color:#ECE2CA;
        margin:0px;
    }
    .inner-content > h2{
        width:740px;
        height: 38px;
        line-height: 44px;
        padding-left:14px;
        background: #8C504B;
        color:#FFF;
        font-size: 20px;
        font-weight: normal;
        font-family: $calibribold;
    }
}

.empresa{
    margin-top:-203px;
}

.nav-triangle-wrapper{
    width:178px;
    height:340px;
    float:left;
}
.nav-triangle{
    width: 178px;
    height: 287px;
    background: url(../img/triangulo_nav.png);
}

body > header .interna{
    position: relative;
    z-index:1008;
    overflow: hidden;
}
.direita-wrapper{
    width: 4000px;
    position: absolute;
    overflow: hidden;
}
body > header nav{
    width: 140px;
    height: 140px;
    margin-top: -262px;
    font-family: "DTLArgoTOTLight", sans-serif;
    font-size: 14px;
    margin-left: 15px;
    ul{
        margin:0;
        padding: 0;
    }
    li:hover, li.active{
        a{
            color:#FFF;
            background:url(../img/menu_seta.png) left 1px no-repeat;
        }
    }
    a{
        display: block;
        height: 22px;
        line-height: 22px;
        text-decoration: none;
        color: #ECE2CA;
        text-transform: uppercase;
        padding-left: 19px;
        margin-left: -19px;
    }
}
.marca-triangle-wrapper{
    width: 370px;
    height: 186px;
    float:left;
    margin-left:-82px;
    text-align: center;
}
.marca-triangle{
    float:left;
    width: 370px;
    height: 185px;
    z-index:1003;
    background: url(../img/marca-triangle.png);
}
.marca{
   display: block;
    width: 135px;
    height: 105px;
    margin: 0 auto;
    margin-top: 9px;
    background: url(../img/marca.png);
    position: relative;
    z-index:1004;
}
.marca.marca-en{background: url(../img/marca-en.png);}

.ativar{
    width: 100%;
    height: 32px;
    background: #8c504b;
    position: absolute;
    left: 400px;
    z-index: 1000;
}

a#ativar-link{
    position:absolute;
    top:0;
    left:400px;
    color: #FFF;
    text-decoration: none;
    line-height: 38px;
    margin-left: 102px;
    font-family: $calibribold;
    font-size: 15px;
    z-index:99999999;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    &:active, &:visited{color: #FFF;}
    &:hover{color:#ECE2CA;}
}

footer{
    position: relative;
    z-index: 1010;
    border-top: solid 15px #FFF;
    .footer-wrapper{
        width:980px;
    }
    width:100%;
    height:148px;
    background: #ECE2CA;
    color:#866947;
    nav{
        width: 148px;
        height:139px;
        margin-left:20px;
        border-left:solid 1px #D7CFB8;
        border-right:solid 1px #D7CFB8;
        padding-left:17px;
        padding-top:9px;
        float:left;
        ul{
            margin:0;
            padding:0;
            li{
                height:16px;
                a{
                    font: 10px $calibribold;
                    color:#866947;
                    text-decoration: none;
                    text-transform: uppercase;
                    &:hover{
                        color:#8c504b;
                    }
                }
            }
        }
    }
    .footer-contatos{
        float:left;
        padding-left: 20px;
        padding-top:9px;
        .footer-contato-titulo, .footer-contatos-titulo{
            font: 10px $calibribold;
            text-transform: uppercase;
        }
        .footer-contato-titulo{
            text-transform: none;
        }
        .footer-contato-telefone{
            font-size:12px;
            line-height:1.7em;
        }
    }
    .footer-social{
        float:right;
        margin-top:18px;
        ul{
            margin:0;
            padding:0;
            float: right;
            li{
                list-style: none;
                float:left;
                margin-left:5px;
            }
            a{
                display:block;
                width:16px;
                height: 16px;
                &.facebook{
                    background: url(../img/footer_facebook.png);
                }
                &.twitter{
                    background: url(../img/footer_twitter.png);
                }
                &.linkedin{
                    background: url(../img/footer_linkedin.png);
                }
                &.youtube{
                    background: url(../img/footer_youtube.png);
                }
             }
        }
        .facebook-like{
            float: right;
            margin-top:10px;
            width:97px !important;
            iframe{
                width:97px !important;
            }
        }
    }
    .copy-sites{
        float:right;
        text-align:right;
        font-size: 10px;
        margin-top:25px;
        a{
            color:inherit;
            text-decoration: none;
            &:hover{
                border-bottom:1px #8c504b dotted;
            }
        }
    }
}

// largura para 8 categorias
table tr.produto td.produto-titulo{width:210px !important;}
// largura para 9 categorias
//table tr.produto td.produto-titulo{width:230px !important;}

.columnhover{
        background: #D3BCA7;
    }

    table th {
    border-left:solid 2px #D3BCA7;
    border-right:solid 1px #D3BCA7;

    .thtop{
        width:100%;
        height:4px;
        background: url(../img/solucoes_seta-header.png) no-repeat center 0;
    }
    .thbottom{
        display: block;
        text-decoration: none;
        height: 100%;
        background: #fff;
        //width: 80px; -- largura para 9 categorias
        width: 90px; // -- largura para 8 categorias
        height:25px;
        padding-top:23px;
        font-size:$calibribold;
        font-size: 12px;
        color:inherit;
        &.construcao-civil{
            span{
                display: block;
                margin: 0 auto;
                margin-top: -10px;
                width: 75px;
            }
        }
    }
    &:hover{
        .thtop{
            display:none;
        }
        .thbottom{
            display:block;
            text-decoration: none;
            height: 63px;
            padding-top:11px;
            background: #8C504b url(../img/detalhe-triangulo.png) no-repeat 69px 4px;
            color: #fff;
            margin-top: -22px;
            &.construcao-civil{
            span{
                display: block;
                margin: 0 auto;
                margin-top: -3px;
                width: 75px;
            }
        }
            span{
                display: block;
                height:24px;
                padding-top:33px;
                background: url(../img/solucoes_header-hover.png) center top no-repeat;
            }
        }
    }
    &.table-title{
        background: #FFF;
        padding-left:14px;
        height:52px;
        font-family: $calibri;
        font-weight: normal;
        font-size: 12px;
        border-left: none;
        color:#8C504B;
        vertical-align: middle;
        text-align: left;
        span{
            display: block;
            width:208px;
        }
    }
}

table thead{
    tr{
        vertical-align: top;
    }
    td{

    }
}
.table-wrapper {
    position: relative;
    z-index: 2000;
    & > table{
        margin-top:-5px;
    }
}

thead{
        tr{
            border-bottom: solid 1px #D3BCA7;
        }
    }
.table-wrapper{
    width:956px;
    overflow:hidden;
    position: relative;
    z-index: 1007;
}
table{
    z-index: 2000;
    position: relative;
    .thinner{
        position: relative;
    }
    tbody span{
            display:block;
            height:24px;
            line-height: 30px;
        }
    .accordion{
        border-right: solid 2px #FFF;
        border-bottom:solid 1px #D3BCA7;
        color: #8C504B;
        cursor:pointer;
        &:hover{
            span{
                font-weight:bold;
            }
        }
    }
    .accordion.active{
        border-right: solid 2px #8C504B;
        border-top:none;
        border-bottom:none;
    }
    .accordion td{
        height:24px;
        vertical-align: middle;
        line-height: 24px;
        font-size: 12px;
        font-weight: normal;
        padding-left:28px;
        background:#FFF url(../img/solucoes_categoria-fechada.png) no-repeat 14px center;
    }
    .accordion.active td{
        background: #8C504B url(../img/solucoes_categoria-aberta.png) no-repeat 14px center;
        color:#FFF;
    }
    tbody{
        font-weight: normal;
        font-size: 12px;
        background: #FFF;
    }
    tr.produto{
        background: #FFF;
        &.odd{
            background: #F2E9D7;
        }
        td{
            width:90px;
            height:20px;
            border-left:solid 2px #D3BCA7;
            border-right:solid 1px #D3BCA7;
            &.produto-titulo{
                border-left:none;
                padding-left:14px;
                //width:208px;
                width: 230px;
            }
            span{
                display:block;
                height:20px;
                line-height: 26px;
            }
            &.pointer{
                text-align:center;
                font-size:22px;
                font-family: $calibribold;
                color:#996633;
                span{line-height: 17px;}
            }
        }
    }
}
.accordion-wrapper{
    width:100%;
}
.accordion-wrapper tbody > .produto{
    cursor: pointer;
    &:hover{
        background: #D3BCA7;
    }
}

.cycle-slideshow{
    position: absolute;
    top: 0;
}
.cycle-slideshow.home{
    display: none;
}

.home .cycle-slideshow.internas{
    display: none !important;
}

.home .cycle-slideshow.home{
    display: block !important;
}

.retangulo-branco{
    width: 1360px;
    height: 283px;
    position: absolute;
    background: #FFF;
    z-index: 999;
    top: 517px;
}


/* ==========================================================================
   Empresa
   ========================================================================== */

.empresa{
    margin-top:-187px;
}

.conteudo.empresa{
    .resumo{
        width:700px;
        padding:13px;
        padding-right: 40px;
        float:right;
        background: #ECE2CA;
        margin-bottom: 20px;
        p{
            margin:0;
            font-size: 16px;
            font-family: $calibriitalic;
            color:#7F5652;
        }
    }
    .texto{
        float:left;
        width:330px;
        font-size:14px;
        color:#666;
        p{
            margin: 0;
            line-height: 1.7em;
        }
    }
    .imagem{
        float:right;
        width: 410;
        height: 225px;
    }
    .separador-horizontal{
        width:752px;
        height:2px;
        background: #4d4d4d;
        margin-top:40px;
        float:right;
    }
    .colaboradores{
        width: 786px;
        color:#666;
        font-size:0;
        h1{
            font-weight: normal;
            text-transform: uppercase;
            font-size: 22px;
            font-family: $argo;
            color:#7F5652;
            margin:0px;
            margin-top:35px;
            margin-bottom:12px;
        }
        .colaborador{
            width:230px;
            display: inline-block;
            *display:inline;
            zoom:1;
            vertical-align:top;
            margin-right: 32px;
            margin-bottom:30px;
        }
        .colaborador-conteudo{
            background: url(../img/empresa_detalhe-texto.png) no-repeat 0 bottom;
        }
        .colaborador-imagem{
            width: 230px;
            height:170px;
        }
        .colaborador-nome{
            font-family: $calibribold;
            font-size:18px;
            margin-top:10px;
        }
        .colaborador-cargo{
            &.mobile{display:none;}
            font-family: $calibriitalic;
            font-size:14px;
            padding-left: 18px;
        }
        .colaborador-descricao p{
            font-size:12px;
            line-height: 1.5em;
        }
    }
}

/* ==========================================================================
   Soluções
   ========================================================================== */

.conteudo.solucoes{
    z-index: 1007;
    .solucoes-header-image{
        width: 956px;
        height: 165px;
        background: url(../img/solucoes_header.jpg);
    }
}

.conteudo.solucoes.geral{
    .inner-content{
        & > h2{
            margin-bottom:0;
        }
    }
    .atuacao-resumo{
        width:740px;
        padding-top:14px;
        padding-left:14px;
        background: #ECE2CA;
        color: #4D4D4D;
        margin-top:0;
        p{
            margin-top:0;
            margin-bottom:10px;
        }
    }
    .atuacao-main{
        width:100%;
        background: #FFF;
        .atuacao-main-left{
            float:left;
            width:450px;
            padding-left:22px;
            p{
                font-size:14px;
            }
            p a,
            ul a{
                color:#8c504b;
                text-decoration:none;
                &:active, &:visited{color:#8c504b;}
                &:hover{text-decoration:underline;}
            }
        }
    }
}













/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

#busca{
    width:180px;
    height:20px;
    position:absolute;
    z-index:999999;
    top:45px;
    left:798px;
    input[type="text"]{
        display: inline-block;
        *display:inline;
        zoom:1;
        vertical-align:top;
        border:0;
        padding:2px 8px;
        width:164px;
        height:20px;
        line-height:19px;
        font-family: $calibri;
        font-size:13px;
        background:#ECE2CA;
        color:#8b504a;
        position:absolute;
        top:0;
        left:0;
    }
    input[type="submit"]{
        position:absolute;
        top:2px;
        right:2px;
        margin-left:-30px;
        border:0;
        display: inline-block;
        *display:inline;
        zoom:1;
        vertical-align:top;
        padding:0;
        margin:0;
        height:20px;
        width:20px;
        text-indent:-9000px;
        background:url('../img/lupa-busca-arycom.png') center center no-repeat;
    }
}
.busca-lista{
    .busca-container{
        display:block;
        margin-bottom:15px;
        text-decoration:none;
        .busca-lista-titulo{
            -webkit-transition:all .3s ease-in;
           -moz-transition:all .3s ease-in;
           -o-transition:all .3s ease-in;
           transition:all .3s ease-in;
            background:#8b504a;
            color:#fff;
            line-height:130%;
            margin-bottom:1px;
            padding:5px 10px;
            color:#fff;
            font-weight: normal;
            font-family: "CalibriBold", sans-serif;
            h1{
                margin:0;
                font-size: 16px;
            }
        }
        .busca-lista-resumo{
            -webkit-transition:all .3s ease-in;
           -moz-transition:all .3s ease-in;
           -o-transition:all .3s ease-in;
           transition:all .3s ease-in;
            color:#666;
            font-size: 14px;
            font-family: "CalibriItalic", sans-serif;
            padding:5px 10px;
            background:#ECE2CA;
        }
        &:hover{
            .busca-lista-titulo,
            .busca-lista-resumo{
                background-color:#3c3c3c;
                color:#ECE2CA;
            }
        }
    }
}

.semresultados{
    display:block;
    text-align:center;
    padding:10px 15px;
    font-family: "CalibriBold", sans-serif;
    font-size:20px;
    background:#8b504a;
    color:#fff;
    margin-top:100px;
    margin-bottom:300px;
}

.link-idioma{
    position: absolute;
    top:7px;
    right:10px;
    z-index: 999999;
    img{
        display:block;
    }
}