@import 'vars.less';

@amarelo:#ECE2C9;
@vermelho:#894640;
@cinza:#4D4D4D;

html{
	body{
		.direita-wrapper,
		.triangulo-conteudo,
		.ativar,
		#ativar-link,
		.texto-home-tablets,
		.texto-tablets,
		.lista-colab-tablets,
		#busca{
			display:none;
		}
		header{
            position: static;
            .link-idioma{
                position: absolute;
                top: 7px;
                right: 10px;
                z-index: 999999;
                img{
                    display: block;
                }
            }
        }
		.interna{
			.nav-triangle-wrapper{
				.nav-triangle{display:none;}
				nav{
					display:block;
					width:100%;
					margin-top:162px;
					ul{
						padding:10px 0;
						margin:0;
						list-style:none;
						display:block;
						width:100%;
						background-color: @cinza;
						li{
							display:block;
							width:100%;
							a{
								display:block;
								width:100%;
								text-decoration:none;
								text-indent:35px;
								background-color: @cinza;
								height:45px;
								line-height:45px;
								color:@amarelo;
								.transition;
								&:active, &:visited{color:@amarelo;}
								&:hover{color:#fff;}
							}
							&.active a{color:#fff;}
						}
					}
				}
			}
			.marca-triangle-wrapper{
				position:absolute;
				top:0;
				left:0;
				text-align: center;
				width:100%;
				height:162px;
				background:url('../img/topo-mobile.jpg') center top no-repeat;
				background-size:cover;
				.marca-triangle{
				    display:none;
				}
				.marca{
				   	display: block;
				    width: 110px;
				    height: 85px;
				    margin: 0 auto;
				    margin-top: 13px;
				    background: url(../img/_marca.png);
				    position: relative;
				    z-index:1004;
				    &.marca-en{background: url(../img/marca-en.png);}
				}
			}
			.clearfix{ display:none; }
		}
		.cycle-slideshow.home{display:none;}

		/********************************************/
		/*	PÁGINAS INTERNAS 						*/
		/********************************************/
		.content-home{
			background:@amarelo;
			h1{
				background:@vermelho;
				text-align:center;
				color:@amarelo;
				margin:0;
				padding:15px 0;
				line-height:120%;
				.argo(20px);
			}
			.atuacao-home{
				padding:35px;
				.calibri(14px);
				color:@cinza;
				position:relative;
				ul{
					list-style:none;
					margin:10px 0 0 0;
					padding:0;
					li{
						.inline;
						width:49%;
						height:32px;
						line-height:32px;
						margin:0;
						padding:0;
						a{
							font-weight:bold;
							display:block;
							text-decoration:none;
							color:@cinza;
							.transition;
							&:active, &:visited{color:@cinza;}
							&:hover{color:@vermelho;}
						}
					}
				}
				.home-atuacao-triangulo img{display:none;}
				&:after{
					content:"";
					display:block;
					height:0;
					margin:0 auto;
					border-bottom:1px @cinza dotted;
					-moz-transform: translateY(35px);
					-webkit-transform: translateY(35px);
					-o-transform: translateY(35px);
					-ms-transform: translateY(35px);
					transform: translateY(35px);
				}
			}
		}
		.conteudo.empresa{
			h1{
				background:@vermelho;
				text-align:center;
				color:@amarelo;
				margin:0;
				padding:15px 0;
				line-height:120%;
				.argo(23px);
			}
			.resumo{display:none;}
			.texto{
				padding:35px;
				background:@amarelo;
				color:@cinza;
				.calibri(16px);
				line-height:130%;
				p{margin:0;}
				br{display:none;}
			}
			.imagem{display:none;}
			.colaboradores-lista{
				text-align:center;
				padding:20px 0;
				margin:0;
				.colaborador{
					overflow:hidden;
					.colaborador-foto{display:none;}
					.colaborador-nome{display:none;}
					.colaborador-link{
						display:block;
						text-decoration:none;
						color:@cinza;
						margin:30px 0 5px 0;
						.calibriBold(16px);
						.transition;
					}
					.colaborador-descricao{
						height:0;
						overflow:hidden;
						.calibri(13px);
						color:@cinza;
						line-height:130%;
						.transition;
						p{
							margin:5px 0;
							padding:5px 35px;
							.transition;
						}
					}
					.colaborador-cargo{
                        display:none;
                        &.mobile{display:block;}
                        color:@cinza;
                        .calibriBold(15px);
                        margin:0 0 15px 0;
                    }
					.transition;
					&:target{
						background-color:#F1F1F1;
						.colaborador-link{
							color:@vermelho;
							margin:12px 0 6px 0;
						}
						.colaborador-descricao{
							height:auto;
						}
					}
				}
			}
		}
		.conteudo.solucoes{
			h1{
				background:@vermelho;
				text-align:center;
				color:@amarelo;
				margin:0;
				padding:15px 0;
				line-height:120%;
				.argo(23px);
			}
			h2{
				overflow:hidden;
				background:@vermelho;
				text-align:left;
				text-indent:40px;
				color:#fff;
				margin:25px 0 8px 0;
				padding:10px 0;
				line-height:120%;
				position:relative;
				.argo(19px);
				&.preto{background:@cinza;}
				&:before{
					content:"";
					display:block;
					position:absolute;
					top:3px;
					left:3px;
					width:0;
					height:0;
					border-right:15px transparent solid;
					border-top:15px @amarelo solid;
				}
			}
			.imagem-produto-responsive{
				display:block;
				overflow: hidden;
				margin:25px 35px;
				img{
					max-width:100%;
					display:block;
					margin:0 auto;
				}
			}
			.atuacao-resumo p, .atuacao-main p{
				margin:4px 0;
				padding:4px 35px;
				color:@cinza;
				.calibri(14px);
			}
			.atuacao-main h2{
				color:@vermelho;
				background:transparent;
				.argo(16px);
				&:before{display:none;}
			}
			.atuacao-main{
				.atuacao-main-left{
					h3{
						display:block;
						background-color:#ECE2C9;
						.calibriBold(12px);
						color:@cinza;
						padding-left:50px;
						min-height:25px;
						line-height:25px;
						text-decoration:none;
						.transition;
						span{
							&:before{
								content:"+";
								color:@vermelho;
								margin-right:3px;
							}
						}
						&:hover{
							color:@vermelho;
						}
					}
					ul{
						list-style-image: url(../img/marcador.png);
						margin:4px 0;
						padding:4px 35px;
						li{
							.calibri(14px);
							color:@cinza;
							a{
								.transition;
								font-weight: bold;
								color:@cinza;
								&:active, &:visited{color:@cinza;}
								&:hover{color:@vermelho;}
							}
						}
					}
					.especifica-descricao{
						ul{
							list-style:none;
							margin:4px 0;
							padding:4px 35px;
							li{
								.calibri(14px);
								color:@cinza;
								a{
									.transition;
									font-weight: bold;
									color:@cinza;
									&:active, &:visited{color:@cinza;}
									&:hover{color:@vermelho;}
								}
							}
						}
						p{
							.calibri(14px);
							color:@cinza;
							margin:4px 0;
							padding:4px 35px;
						}
					}
				}
				.atuacao-main-right{display:none;}

				.link-voltar{
					overflow:hidden;
					margin:30px 0;
					display:block;
					background:#E6E6E6;
					color:@vermelho;
					padding-left:35px;
					height:37px;
					line-height:37px;
					text-decoration:none;
					.calibri(15px);
					&:active, &:visited{color:@vermelho;}
					&:hover{color:@cinza;}
				}
			}
			.produto-areas{
				list-style:none;
				padding:0 35px;
				&:before{
					content:"Áreas de atuação:";
					color:@cinza;
					.calibri(14px, bold);
					display:block;
				}
				li{
					display:block;
					.inline;
					width:49%;
					a{
						.transition;
						.calibri(13px);
						color:@cinza;
						&:active, &:visited{color:@cinza;}
						&:hover{color:@vermelho;}
						img, .triangulo{
							display:none;
						}
						&:before{
							content:attr(title);
						}
					}
				}
			}
			.table-wrapper{
				display:none;
				overflow:hidden;
			}
			.lista-solucoes-responsive{
				padding-bottom:30px;
				h2{
					overflow:hidden;
					background:@vermelho;
					text-align:left;
					text-indent:40px;
					color:#fff;
					margin:25px 0 8px 0;
					padding:10px 0;
					line-height:120%;
					position:relative;
					.argo(19px);
					&.preto{background:@cinza;}
					&:before{
						content:"";
						display:block;
						position:absolute;
						top:3px;
						left:3px;
						width:0;
						height:0;
						border-right:15px transparent solid;
						border-top:15px @amarelo solid;
					}
				}
				ul{
					list-style:none;
					margin:0;
					padding:0;
					li{
						height:40px;
						margin-bottom:3px;
						a{
							padding-left:40px;
							display:block;
							text-decoration: none;
							height:40px;
							line-height:40px;
							color:@cinza;
							.calibri(16px);
							.transition;
							&:active, &:visited{color:@cinza;}
							&:hover{color:@vermelho;}
						}
						&:nth-child(even){background:#F2E9D8;}
						&:nth-child(odd){background:#ECE2C9;}
					}
				}
			}
		}
		.conteudo.parceiros{
			h1{
				background:@vermelho;
				text-align:center;
				color:@amarelo;
				margin:0;
				padding:15px 0;
				line-height:120%;
				.argo(23px);
			}
			.resumo{
				padding:25px 35px;
				background:@amarelo;
				color:@cinza;
				.calibriItalico(15px);
				p{margin:0;}
			}
			.imagem{
				img.desktop{
					max-width:97%;
					display:block;
					margin:10px auto;
				}
			}
		}
		.conteudo.noticias{
			h1.tit-secao{
				background:@vermelho;
				text-align:center;
				color:@amarelo;
				margin:0;
				padding:15px 0;
				line-height:120%;
				.argo(23px);
			}
			.link-voltar{
				overflow:hidden;
				margin:30px 0;
				display:block;
				background:#E6E6E6;
				color:@vermelho;
				padding-left:35px;
				height:37px;
				line-height:37px;
				text-decoration:none;
				.calibri(15px);
				&:active, &:visited{color:@vermelho;}
				&:hover{color:@cinza;}
			}
			.noticias-lista{
				padding:20px 0;
				a{
					display:block;
					margin-bottom:17px;
					text-decoration:none;
					.transition;
					&:active, &:visited{}
					&:hover{
						.noticia-lista-titulo{
							h1, p { color:@vermelho; }
						}
					}
					.noticia-lista-data{
						height:25px !important;
						line-height:25px;
						background:@amarelo;
						text-align:right;
						padding:0 35px;
						margin-bottom:2px;
						color:@vermelho;
						.calibriBold(15px);
						.dia{.inline; font-size: 15px;}
						.mes{.inline; font-size: 13px;}
						.ano{.inline; font-size: 15px;}
					}
					.noticia-lista-titulo{
						height:auto !important;
						background:@amarelo;
						padding:10px 35px 20px 35px;
						color:@cinza;
						h1{
							.calibriBold(15px);
							line-height:130%;
							.transition;
						}
						.noticia-lista-resumo{
							.calibriItalico(14px);
							line-height:130%;
							.transition;
							p{margin:0;}
						}
					}
				}
			}
			.noticias-links .pagination{
				background: #E6E6E6;
				padding:15px;
				line-height:120%;
				margin-bottom:20px;
				overflow:hidden;
				ul{
					margin:0;
					padding:0;
					list-style:none;
					li{
						.inline;
						width:20%;
						text-align:center;
						&:first-child,&:last-child{display:none;}
						&:nth-child(2) a{border-left:none;}
						a{
							border-left:1px #C4C4C4 solid;
							color:@cinza;
							text-decoration:none;
							display:block;
							margin:0;
							padding:2px 0;
							.transition;
							&:active, &:visited{color:@cinza;}
							&:hover{color:@vermelho;}
						}
						&.active a{color:@vermelho;}
					}
				}
			}
			#box-imprensa{
				margin-bottom:20px;
				margin-top: 5px;
				.titulo{
					text-align: center;
					background: #ECE2CA;
					color: #8C504B;
					.calibriBold(14px);
					min-height: 35px;
					line-height: 35px;
					border-bottom: 1px #fff solid;
				}
				.coluna{
					&.coluna-50{ width: 100%; }
					&.coluna-100{ width: 100%; }
					display:block;
					height: 80px;
					p{
						padding: 15px 0;
						margin: 0;
						text-align: center;
						background: #ECE2CA;
						color: #65635D;
						font-size: 14px;
						&:first-child{
							border-top: 1px #fff solid;
						}
						strong{
							display: block;
						}
						a{
							display: block;
							color: #8C504B;
							.calibriItalico(14px);
							-webkit-transition: all .3s ease-in;
							-moz-transition: all .3s ease-in;
							-ms-transition: all .3s ease-in;
							-o-transition: all .3s ease-in;
							transition: all .3s ease-in;
							text-decoration: none;
							&:active, &:visited{ color: #8C504B }
							&:hover{
								text-decoration: none;
								color: #000;
							}
						}
					}
				}
			}
			.noticia-detalhe{
				.noticia-lista-data{
					height:25px !important;
					line-height:25px;
					margin-top:20px;
					text-align:right;
					padding:0 35px;
					margin-bottom:2px;
					color:@vermelho;
					.calibriBold(15px);
					.dia{.inline; font-size: 15px;}
					.mes{.inline; font-size: 13px;}
					.ano{.inline; font-size: 15px;}
				}
				.noticia-lista-titulo{
					height:auto !important;
					background:@amarelo;
					padding:10px 35px 20px 35px;
					color:@cinza;
					h1{
						color:@vermelho;
						background:transparent;
						.argo(18px);
						&:before{display:none;}
					}
					.noticia-lista-resumo{
						.calibriItalico(14px);
						line-height:130%;
						.transition;
						p{margin:0;}
					}
				}
				.noticia-descricao{
					.calibri(14px);
					color:@cinza;
					padding:5px 35px;
					img{
						max-width:100%;
						display:block;
						margin:5px auto;
					}
					p{
						margin:5px 0;
					}
					a{
						.calibri(14px, bold);
						color:@cinza;
						.transition;
						&:active, &:visited{color:@cinza;}
						&:hover{color:@vermelho;}
					}
					ul{
						list-style: none;
						padding:0;
						margin:5px 0;
					}
				}
			}
		}
		.conteudo.midias{
			h1{
				background:@vermelho;
				text-align:center;
				color:@amarelo;
				margin:0;
				padding:15px 0;
				line-height:120%;
				.argo(23px);
			}
			.resumo{
				padding:20px 35px;
				background:@amarelo;
				color:@cinza;
				line-height:120%;
				margin-bottom:10px;
				p{margin:0;}
			}
			.midia-tipo{
				ul{
					padding:0 35px;
					margin:0;
					li{
						display:block;
						width:100%;
						padding:0;
						margin-bottom:3px;
						height:45px;
						a, .button{
							text-decoration:none;
							height:45px;
							line-height:45px;
							display:block;
							text-align:center;
							background-color:@cinza;
							color:#fff;
							.calibriBold(18px);
							.transition;
							&:active, &:visited{color:#fff;}
							&:hover{background-color:@vermelho;}
						}
						&.active .button{background-color:@vermelho;}
					}
				}
			}
			.pagination{
				background: #E6E6E6;
				padding:15px;
				line-height:120%;
				margin-bottom:20px;
				overflow:hidden;
				ul{
					margin:0;
					padding:0;
					list-style:none;
					li{
						.inline;
						width:20%;
						text-align:center;
						&:first-child,&:last-child{display:none;}
						&:nth-child(2) a{border-left:none;}
						a{
							border-left:1px #C4C4C4 solid;
							color:@cinza;
							text-decoration:none;
							display:block;
							margin:0;
							padding:2px 0;
							.transition;
							&:active, &:visited{color:@cinza;}
							&:hover{color:@vermelho;}
						}
						&.active a{color:@vermelho;}
					}
				}
			}
			.link-voltar{
				overflow:hidden;
				margin:30px 0;
				display:block;
				background:#E6E6E6;
				color:@vermelho;
				padding-left:35px;
				height:37px;
				line-height:37px;
				text-decoration:none;
				.calibri(15px);
				&:active, &:visited{color:@vermelho;}
				&:hover{color:@cinza;}
			}
			#box-imprensa{
				margin-bottom:20px;
				margin-top: 5px;
				.titulo{
					text-align: center;
					background: #ECE2CA;
					color: #8C504B;
					.calibriBold(14px);
					min-height: 35px;
					line-height: 35px;
					border-bottom: 1px #fff solid;
				}
				.coluna{
					&.coluna-50{ width: 100%; }
					&.coluna-100{ width: 100%; }
					width: 100%;
					display:block;
					height: 80px;
					p{
						padding: 15px 0;
						margin: 0;
						text-align: center;
						background: #ECE2CA;
						color: #65635D;
						font-size: 14px;
						&:first-child{
							border-top: 1px #fff solid;
						}
						strong{
							display: block;
						}
						a{
							display: block;
							color: #8C504B;
							.calibriItalico(14px);
							-webkit-transition: all .3s ease-in;
							-moz-transition: all .3s ease-in;
							-ms-transition: all .3s ease-in;
							-o-transition: all .3s ease-in;
							transition: all .3s ease-in;
							text-decoration: none;
							&:active, &:visited{ color: #8C504B }
							&:hover{
								text-decoration: none;
								color: #000;
							}
						}
					}
				}
			}
			.midias{
				padding:20px 0;
				a{
					margin:10px 0;
					display:block;
					text-align:center;
					text-decoration:none;
					color:@cinza;
					.calibri(14px);
					img{
						display:block;
						margin:0 auto 2px auto;
					}
					.transition;
					&:active, &:visited{color:@cinza;}
					&:hover{color:@vermelho;}
				}
			}
			.player{
				position: relative;
			    padding-bottom: 56.25%;
			    padding-top: 35px;
			    height: 0;
			    overflow: hidden;
			    iframe{
			    	position: absolute;
				    top:0;
				    left: 0;
				    width: 100%;
				    height: 100%;
			    }
			}
		}
		.conteudo.suporte{
			h1{
				background:@vermelho;
				text-align:center;
				color:@amarelo;
				margin:0;
				padding:15px 0;
				line-height:120%;
				.argo(23px);
			}
			.resumo{
				background:@amarelo;
				color:@cinza;
				padding:20px 35px;
				.calibri(14px);
				p{
					text-align:center;
					margin:5px 0;
				}
				a{
					display:block;
					margin:7px auto;
					padding:0 15px;
					background-color:@vermelho;
					color:#fff;
					height:34px;
					line-height:34px;
					text-decoration:none;
					text-align:center;
					&.skype-link{ display:none; }
					.transition;
					&:active, &:visited{color:#fff;}
					&:hover{color:@amarelo;}
				}
				.coluna:nth-child(2){margin-top:25px;}
			}
		}
		.conteudo.contato{
			h1{
				background:@vermelho;
				text-align:center;
				color:@amarelo;
				margin:0;
				padding:15px 0;
				line-height:120%;
				.argo(23px);
			}
			.suporte-form{
				background:@amarelo;
				padding:20px 35px;
				margin-top:30px;
				h2{
					color:@vermelho;
					.argo(18px);
					margin:0 0 15px 0;
				}
				form{
					input[type="text"]{
						width:100%;
						display:block;
						background:@amarelo;
						border:1px @cinza solid;
						height:25px;
						line-height:25px;
						color:@cinza;
						padding:0;
						text-indent:15px;
						margin-bottom:5px;
						.calibri(14px);
						.placeholder(@cinza);
					}
					select{
						width:100%;
						display:block;
						background:@amarelo;
						border:1px @cinza solid;
						margin-bottom:5px;
						text-indent:10px;
						height:25px;
						line-height:25px;
						.calibri(14px);
						color:@cinza;
						line-height:25px;
					}
					textarea{
						width:100%;
						display:block;
						background:@amarelo;
						border:1px @cinza solid;
						color:@cinza;
						padding:3px 0;
						text-indent:15px;
						margin-bottom:5px;
						overflow:auto;
						resize:none;
						height:80px;
						line-height:120%;
						.calibri(14px);
						.placeholder(@cinza);
					}
					.submit-placeholder{
						text-align: right;
						padding-bottom: 15px;
						input[type=submit]{
							border: 0;
							display: inline-block;
							background: #8b504a url(../img/detalhe-triangulo.png) no-repeat 77px 0;
							color: #fff;
							text-decoration: none;
							text-align: center;
							font-family: $calibri;
							font-size: 15px;
							width: 90px;
							height: 30px;
							line-height: 30px;
							-webkit-transition: all .3s ease-in;
							-moz-transition: all .3s ease-in;
							-ms-transition: all .3s ease-in;
							-o-transition: all .3s ease-in;
							transition: all .3s ease-in;
							position: relative;
							&:hover{
								color: #ECE2CA;
							}
							&:after{
								content: "";
								display: block;
								position: absolute;
								top: 0;
								right: 0;
								width: 0px;
								height: 0px;
								border-style: solid;
								border-width: 0 10px 10px 0;
								border-color: transparent #ECE2CA transparent transparent;
							}
						}
					}
				}
			}
			.locais{
				padding:30px 35px;
				.local{
					padding-bottom:18px;
					margin-bottom:30px;
					border-bottom:1px @cinza dotted;
					.local-imagem{display:none;}
					h2{
						color:@vermelho;
						.calibriBold(17px);
						margin:0 0 20px 0;
					}
					a.link-mapa{
                        color:@cinza;
                        .inline;
                        margin: 0px 0 20px 0;
                        .calibriBold(14px, bold);
                        text-decoration: underline;
                        .transition;
                        &:hover{color:@vermelho}
                    }
					p{
						margin:0;
						.calibri(14px);
						color:@cinza;
					}
					.telefone1,
					.telefone2{
						.calibri(14px);
						color:@cinza;
						b{
							.calibriBold(14px);
							color:@vermelho;
						}
					}
				}
			}
			.contato-email{
				width: 100%;
				height: 50px;
				background: #E6E6E6;
				text-align: center;
				line-height: 50px;
				margin-top: 30px;
				img{
					margin-right: 12px;
				}
				a{
					text-decoration: none;
					color: #8C504B;
					.calibriBold(16px);
					&:hover{
						color: #000;
					}
				}
			}
			#box-imprensa{
				margin-bottom:20px;
				margin-top: 5px;
				.titulo{
					text-align: center;
					background: #ECE2CA;
					color: #8C504B;
					.calibriBold(14px);
					min-height: 35px;
					line-height: 35px;
					border-bottom: 1px #fff solid;
				}
				.coluna{
					&.coluna-50{ width: 100%; }
					&.coluna-100{ width: 100%; }
					width: 100%;
					display:block;
					height: 80px;
					p{
						padding: 15px 0;
						margin: 0;
						text-align: center;
						background: #ECE2CA;
						color: #65635D;
						font-size: 14px;
						&:first-child{
							border-top: 1px #fff solid;
						}
						strong{
							display: block;
						}
						a{
							display: block;
							color: #8C504B;
							.calibriItalico(14px);
							-webkit-transition: all .3s ease-in;
							-moz-transition: all .3s ease-in;
							-ms-transition: all .3s ease-in;
							-o-transition: all .3s ease-in;
							transition: all .3s ease-in;
							text-decoration: none;
							&:active, &:visited{ color: #8C504B }
							&:hover{
								text-decoration: none;
								color: #000;
							}
						}
					}
				}
			}
		}
		.conteudo.form-ativacao{
			.resumo{
				background:@amarelo;
				color:@cinza;
				padding:20px 35px;
				.calibri(14px);
				p{
					text-align:center;
					margin:5px 0;
				}
				a{
					display:block;
					margin:7px auto;
					padding:0 15px;
					background-color:@vermelho;
					color:#fff;
					height:34px;
					line-height:34px;
					text-decoration:none;
					text-align:center;
					.transition;
					&:active, &:visited{color:#fff;}
					&:hover{color:@amarelo;}
				}
				&.branco{padding-top:0;}
			}
			.ativacao-form{
				padding-top:0;
				background:@amarelo;
				.coluna{margin-top:0 !important;}
				h2{
					color:@vermelho;
					.argo(18px);
				}
				form{
					input[type="email"],
					input[type="text"]{
						width:100%;
						display:block;
						background:@amarelo;
						border:1px @cinza solid;
						height:25px;
						line-height:25px;
						color:@cinza;
						padding:0;
						text-indent:15px;
						margin-bottom:5px;
						.calibri(14px);
						.placeholder(@cinza);
					}
					select{
						width:100%;
						display:block;
						background:@amarelo;
						border:1px @cinza solid;
						margin-bottom:5px;
						text-indent:10px;
						height:25px;
						line-height:25px;
						.calibri(14px);
						color:@cinza;
						line-height:25px;
					}
					textarea{
						width:100%;
						display:block;
						background:@amarelo;
						border:1px @cinza solid;
						color:@cinza;
						padding:3px 0;
						text-indent:15px;
						margin-bottom:5px;
						overflow:auto;
						resize:none;
						height:80px;
						line-height:120%;
						.calibri(14px);
						.placeholder(@cinza);
					}
					.submit-placeholder{
						text-align: right;
						padding-bottom: 15px;
						input[type=submit]{
							border: 0;
							display: inline-block;
							background: #8b504a url(../img/detalhe-triangulo.png) no-repeat 77px 0;
							color: #fff;
							text-decoration: none;
							text-align: center;
							font-family: $calibri;
							font-size: 15px;
							width: 90px;
							height: 30px;
							line-height: 30px;
							-webkit-transition: all .3s ease-in;
							-moz-transition: all .3s ease-in;
							-ms-transition: all .3s ease-in;
							-o-transition: all .3s ease-in;
							transition: all .3s ease-in;
							position: relative;
							&:hover{
								color: #ECE2CA;
							}
							&:after{
								content: "";
								display: block;
								position: absolute;
								top: 0;
								right: 0;
								width: 0px;
								height: 0px;
								border-style: solid;
								border-width: 0 10px 10px 0;
								border-color: transparent #ECE2CA transparent transparent;
							}
						}
					}
				}
			}
		}
		/********************************************/
		/*	FIM DAS PÁGINAS INTERNAS				*/
		/********************************************/
		.losango-home{
			.texto-home{
				.calibri(14px);
				color:@cinza;
				padding:35px;
				background:@amarelo;
				p{margin:0;}
				br{display:none;}
			}
			.noticias-home{
				width:100%;
				//margin:0 0 0 -35px;
				background-color:#fff;
				padding:0 0 20px 0;
				h2{
					background:@cinza;
					text-align:center;
					color:#fff;
					margin:0;
					padding:15px 0;
					line-height:120%;
					.argo(20px);
				}
				ul{
					margin:0;
					list-style: none;
					padding:30px 35px 20px 35px;
					li{
						display:block;
						border-bottom:1px @cinza dotted;
						a{
							display:block;
							text-decoration:none;
							padding:0 0 17px 0;
							line-height: 120%;
							color:@cinza;
							.argo(16px);
							.transition;
							&:active, &:visited{color:@cinza;}
							&:hover{color:@vermelho;}
						}
						&:first-child{
							margin-bottom:30px;
						}
						&:nth-child(n+3){
							display:none;
						}
					}
				}
				.home-ver-todas{
					color:@cinza;
					text-decoration:none;
					display:block;
					width:200px;
					text-align:center;
					margin:0 auto;
					&:before{
						content:"‣";
						margin-right:4px;
					}
					.calibriBold(14px);
					.transition;
					&:active, &:visited{color:@cinza;}
					&:hover{color:@vermelho;}
				}
			}
		}
		#ativar-responsive{
			display:block;
			background:@vermelho;
			text-align:center;
			color:#fff;
			margin:0;
			text-decoration:none;
			padding:15px 0;
			line-height:120%;
			.transition;
			.argo(17px);
			&:active, &:visited{color:#fff;}
			&:hover{color:@amarelo;}
		}
		footer{display:none;}
	}
}



/* SLIMBOX */
#lbOverlay {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ECE2CA;
  cursor: pointer; }

#lbCenter, #lbBottomContainer {
  position: absolute;
  z-index: 9999;
  background-color: #fff; }

#lbBottomContainer {
  background-color: transparent; }

.lbLoading {
  background: white url(loading.gif) no-repeat center; }

#lbImage {
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-repeat: no-repeat; }

#lbImage div{ max-width:100%; }

#lbPrevLink, #lbNextLink {
  display: block;
  position: absolute;
  top: 0;
  width: 50%;
  outline: none; }

#lbPrevLink {
  left: 0;
  margin-left: -23px;
  padding-right: 23px;
  background: url(../img/lightbox_seta-esq.png) no-repeat 0 center; }

#lbNextLink {
  right: 0;
  margin-right: -23px;
  padding-left: 23px;
  background: url(../img/lightbox_seta-dir.png) no-repeat right center; }

#lbBottom {
  font-family: "CalibriItalic", sans-serif;
  font-size: 16px;
  color: #666;
  line-height: 1.4em;
  text-align: left;
  border-top-style: none; }

#lbCloseLink {
  display: block;
  float: right;
  width: 66px;
  height: 22px;
  background: transparent url(closelabel.gif) no-repeat center;
  margin: 5px 0;
  outline: none; }

#lbCaption, #lbNumber {
  margin-right: 71px; }

#lbNumber {
  display: none; }

.lbclose {
  background: url(../img/lightbox_fechar.png) no-repeat;
  width: 40px;
  height: 40px;
  margin-top: -44px;
  float: right;
  cursor: pointer; }