@import url(http://fonts.googleapis.com/css?family=Roboto);

@font-face {
  font-family: "CalibriRegular";
  src: url("../font/calibri.eot");
  src: url("../font/calibri.eot?#iefix") format("embedded-opentype"), url("../font/calibri.woff") format("woff"), url("../font/calibri.ttf") format("truetype"), url("../font/calibri.svg#CalibriRegular") format("svg");
  font-weight: "normal";
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: "CalibriBold";
  src: url("../font/calibrib.eot");
  src: url("../font/calibrib.eot?#iefix") format("embedded-opentype"), url("../font/calibrib.woff") format("woff"), url("../font/calibrib.ttf") format("truetype"), url("../font/calibrib.svg#CalibriBold") format("svg");
  font-weight: "normal";
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: "CalibriItalic";
  src: url("../font/calibrii.eot");
  src: url("../font/calibrii.eot?#iefix") format("embedded-opentype"), url("../font/calibrii.woff") format("woff"), url("../font/calibrii.ttf") format("truetype"), url("../font/calibrii.svg#CalibriItalic") format("svg");
  font-weight: "normal";
  font-style: normal;
  font-stretch: normal; }

@largura:980px;

.centralizar(@pad:0){
	width:@largura - (@pad * 2);
	padding:0 @pad;
	margin:0 auto;
}
.inline{
	display: inline-block;
	*display:inline;
	zoom:1;
	vertical-align:top;
}
.argo(@fsize:12px, @fweight:normal){
	font-family: 'Roboto', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}
.calibri(@fsize:12px, @fweight:normal){
	font-family: 'CalibriRegular', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}
.calibriBold(@fsize:12px, @fweight:bold){
	font-family: 'CalibriBold', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}
.calibriItalico(@fsize:12px, @fweight:normal){
	font-family: 'CalibriItalic', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}
.arial(@fsize:12px, @fweight:normal){
	font-family: 'Arial', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}
.arredondada(@raio:10px){
	-webkit-border-radius:@raio;
	-moz-border-radius:@raio;
	-o-border-radius:@raio;
	border-radius:@raio;
	behavior:url('PIE.htc');
}
.transition(@prop:all, @dur:.3s, @type:ease-in){
	-webkit-transition:@prop @dur @type;
   -moz-transition:@prop @dur @type;
   -o-transition:@prop @dur @type;
   transition:@prop @dur @type;
}
.aviso{ color: #9F6000; background-color: #FEEFB3; border:2px #9F6000 solid; }
.sucesso{ border:2px #C6D880 solid; background-color:#E6EFC2; color:#264409; }
.falha{ border:2px #D8000C solid; color:#D8000C; background-color:#FFBABA; }
.offscreen{
	display:block;
	text-indent:-999999999px;
}
.clear{ clear: both; }
.placeholder(@cor:#000){
	&::-webkit-input-placeholder{ color:@cor; }
	&:-moz-placeholder{ color:@cor; }
	&::-moz-placeholder { color:@cor; }
	&:-ms-input-placeholder { color: @cor; }
}
.escondido{display:none;}
.rgba(@r:0,@g:0,@b:0,@a:1){
	background:url('rgba.php/rgba(@r,@g,@b,@a)');
	background:rgba(@r,@g,@b,@a);
}

.hide-full{
	@media only screen and (min-width: 768px) {
		display:none !important;
	}
}

.hide-mobile{
	@media only screen and (max-width: 767px) {
		display:none !important;
	}
}